<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->

<!--[if IE 7 ]><html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->

<!--[if IE 8 ]><html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->

<!--[if IE 9 ]><html class="ie ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->

<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->

<head>
    <link rel="alternate" href="https://www.intellect-minds.com.my/" hreflang="en-us" />
	

	<!--<meta name="description" content="Sourcing Model | Corporate Secretarial Jobs in Malaysia | " />-->

	<meta charset="UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="profile" href="//gmpg.org/xfn/11" />

	
	<link rel="icon" href="http://www.intellect-minds.com.my/wp-content/themes/theme47828/favicon.ico" type="image/x-icon" />

	
	<link rel="pingback" href="https://www.intellect-minds.com.my/xmlrpc.php" />

	<link rel="alternate" type="application/rss+xml" title="Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur" href="https://www.intellect-minds.com.my/feed/" />

	<link rel="alternate" type="application/atom+xml" title="Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur" href="https://www.intellect-minds.com.my/feed/atom/" />

	<link rel="stylesheet" type="text/css" media="all" href="https://www.intellect-minds.com.my/wp-content/themes/theme47828/bootstrap/css/bootstrap.css" />

	<link rel="stylesheet" type="text/css" media="all" href="https://www.intellect-minds.com.my/wp-content/themes/theme47828/bootstrap/css/responsive.css" />

	<link rel="stylesheet" type="text/css" media="all" href="https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/css/camera.css" />

	<link rel="stylesheet" type="text/css" media="all" href="https://www.intellect-minds.com.my/wp-content/themes/theme47828/style.css" />
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143263984-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-143263984-1');
</script>
	

	
<!-- All in One SEO Pack 3.3.2 by Michael Torbert of Semper Fi Web Designob_start_detected [-1,-1] -->
<script type="application/ld+json" class="aioseop-schema">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://www.intellect-minds.com.my/#organization","url":"https://www.intellect-minds.com.my/","name":"Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur","sameAs":[]},{"@type":"WebSite","@id":"https://www.intellect-minds.com.my/#website","url":"https://www.intellect-minds.com.my/","name":"Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur","publisher":{"@id":"https://www.intellect-minds.com.my/#organization"},"potentialAction":{"@type":"SearchAction","target":"https://www.intellect-minds.com.my/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"https://www.intellect-minds.com.my/sourcing-model/#webpage","url":"https://www.intellect-minds.com.my/sourcing-model/","inLanguage":"en-US","name":"Sourcing Model","isPartOf":{"@id":"https://www.intellect-minds.com.my/#website"},"datePublished":"2014-06-20T16:10:47+00:00","dateModified":"2019-07-17T06:31:57+00:00"}]}</script>
<link rel="canonical" href="https://www.intellect-minds.com.my/sourcing-model/" />
<!-- All in One SEO Pack -->

<!-- This site is optimized with the Yoast SEO plugin v7.2 - https://yoast.com/wordpress/plugins/seo/ -->
<title>Sourcing Model | Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur</title>
<meta name="description" content="We have designed and unique process which helps us to deliver the right candidate at the right right time to our client, leading into cost saving and smooth operations. At Intellect Minds, we provide you with the best candidates to fill vacant positions in your company."/>
<link rel="canonical" href="https://www.intellect-minds.com.my/sourcing-model/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Sourcing Model | Corporate Secretarial Jobs in Malaysia" />
<meta property="og:description" content="We have designed and unique process which helps us to deliver the right candidate at the right right time to our client, leading into cost saving and smooth operations. At Intellect Minds, we provide you with the best candidates to fill vacant positions in your company." />
<meta property="og:url" content="https://www.intellect-minds.com.my/sourcing-model/" />
<meta property="og:site_name" content="Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur" />
<meta property="article:publisher" content="https://www.facebook.com/IntellectMindsPte/" />
<meta property="og:image" content="http://www.intellect-minds.com.my/wp-content/uploads/2011/07/image_1.jpg" />
<meta property="og:image" content="http://www.intellect-minds.com.my/wp-content/uploads/2011/07/image_2.jpg" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="We have designed and unique process which helps us to deliver the right candidate at the right right time to our client, leading into cost saving and smooth operations. At Intellect Minds, we provide you with the best candidates to fill vacant positions in your company." />
<meta name="twitter:title" content="Sourcing Model | Corporate Secretarial Jobs in Malaysia" />
<meta name="twitter:site" content="@Intellect_Minds" />
<meta name="twitter:image" content="http://www.intellect-minds.com.my/wp-content/uploads/2011/07/image_1.jpg" />
<meta name="twitter:creator" content="@Intellect_Minds" />
<script type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"Organization","url":"https:\/\/www.intellect-minds.com.my\/","sameAs":["https:\/\/www.facebook.com\/IntellectMindsPte\/","https:\/\/www.instagram.com\/intellect_minds\/","https:\/\/www.linkedin.com\/company\/intellect-minds-pte.-ltd.\/","https:\/\/www.pinterest.com\/intellectminds\/","https:\/\/twitter.com\/Intellect_Minds"],"@id":"#organization","name":"Intellect Minds","logo":"http:\/\/www.intellect-minds.com.my\/wp-content\/uploads\/2019\/07\/intellect-minds-red-logo.png"}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//maps.googleapis.com' />
<link rel='dns-prefetch' href='//netdna.bootstrapcdn.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur &raquo; Feed" href="https://www.intellect-minds.com.my/feed/" />
<link rel="alternate" type="application/rss+xml" title="Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur &raquo; Comments Feed" href="https://www.intellect-minds.com.my/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur &raquo; Sourcing Model Comments Feed" href="https://www.intellect-minds.com.my/sourcing-model/feed/" />
<!-- This site uses the Google Analytics by MonsterInsights plugin v7.10.0 - Using Analytics tracking - https://www.monsterinsights.com/ -->
<script type="text/javascript" data-cfasync="false">
	var mi_version         = '7.10.0';
	var mi_track_user      = true;
	var mi_no_track_reason = '';
	
	var disableStr = 'ga-disable-UA-143263984-1';

	/* Function to detect opted out users */
	function __gaTrackerIsOptedOut() {
		return document.cookie.indexOf(disableStr + '=true') > -1;
	}

	/* Disable tracking if the opt-out cookie exists. */
	if ( __gaTrackerIsOptedOut() ) {
		window[disableStr] = true;
	}

	/* Opt-out function */
	function __gaTrackerOptout() {
	  document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
	  window[disableStr] = true;
	}
	
	if ( mi_track_user ) {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

		__gaTracker('create', 'UA-143263984-1', 'auto');
		__gaTracker('set', 'forceSSL', true);
		__gaTracker('require', 'displayfeatures');
		__gaTracker('send','pageview');
	} else {
		console.log( "" );
		(function() {
			/* https://developers.google.com/analytics/devguides/collection/analyticsjs/ */
			var noopfn = function() {
				return null;
			};
			var noopnullfn = function() {
				return null;
			};
			var Tracker = function() {
				return null;
			};
			var p = Tracker.prototype;
			p.get = noopfn;
			p.set = noopfn;
			p.send = noopfn;
			var __gaTracker = function() {
				var len = arguments.length;
				if ( len === 0 ) {
					return;
				}
				var f = arguments[len-1];
				if ( typeof f !== 'object' || f === null || typeof f.hitCallback !== 'function' ) {
					console.log( 'Not running function __gaTracker(' + arguments[0] + " ....) because you are not being tracked. " + mi_no_track_reason );
					return;
				}
				try {
					f.hitCallback();
				} catch (ex) {

				}
			};
			__gaTracker.create = function() {
				return new Tracker();
			};
			__gaTracker.getByName = noopnullfn;
			__gaTracker.getAll = function() {
				return [];
			};
			__gaTracker.remove = noopfn;
			window['__gaTracker'] = __gaTracker;
					})();
		}
</script>
<!-- / Google Analytics by MonsterInsights -->
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.intellect-minds.com.my\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.12"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='flexslider-css'  href='https://www.intellect-minds.com.my/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/flexslider.css?ver=2.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='owl-carousel-css'  href='https://www.intellect-minds.com.my/wp-content/plugins/cherry-plugin/lib/js/owl-carousel/owl.carousel.css?ver=1.24' type='text/css' media='all' />
<link rel='stylesheet' id='owl-theme-css'  href='https://www.intellect-minds.com.my/wp-content/plugins/cherry-plugin/lib/js/owl-carousel/owl.theme.css?ver=1.24' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css?ver=3.2.1' type='text/css' media='all' />
<link rel='stylesheet' id='cherry-plugin-css'  href='https://www.intellect-minds.com.my/wp-content/plugins/cherry-plugin/includes/css/cherry-plugin.css?ver=1.2.7' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='https://www.intellect-minds.com.my/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='theme47828-css'  href='https://www.intellect-minds.com.my/wp-content/themes/theme47828/main-style.css' type='text/css' media='all' />
<link rel='stylesheet' id='magnific-popup-css'  href='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/css/magnific-popup.css?ver=0.9.3' type='text/css' media='all' />
<link rel='stylesheet' id='options_typography_Ubuntu-css'  href='//fonts.googleapis.com/css?family=Ubuntu&#038;subset=latin' type='text/css' media='all' />
<link rel='stylesheet' id='options_typography_Archivo+Narrow-css'  href='//fonts.googleapis.com/css?family=Archivo+Narrow&#038;subset=latin' type='text/css' media='all' />
<link rel='stylesheet' id='mpce-bootstrap-grid-css'  href='https://www.intellect-minds.com.my/wp-content/plugins/motopress-content-editor/bootstrap/bootstrap-grid.min.css?ver=1.4.8' type='text/css' media='all' />
<link rel='stylesheet' id='mpce-theme-css'  href='https://www.intellect-minds.com.my/wp-content/plugins/motopress-content-editor/includes/css/theme.css?ver=1.4.8' type='text/css' media='all' />
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jquery-1.7.2.min.js?ver=1.7.2'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/cherry-plugin/lib/js/jquery.easing.1.3.js?ver=1.3'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/cherry-plugin/lib/js/elasti-carousel/jquery.elastislide.js?ver=1.2.7'></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?v=3.exp&#038;sensor=false&#038;ver=4.9.12'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var monsterinsights_frontend = {"js_events_tracking":"true","download_extensions":"doc,pdf,ppt,zip,xls,docx,pptx,xlsx","inbound_paths":"[{\"path\":\"\\\/go\\\/\",\"label\":\"affiliate\"},{\"path\":\"\\\/recommend\\\/\",\"label\":\"affiliate\"}]","home_url":"https:\/\/www.intellect-minds.com.my","hash_tracking":"false"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/google-analytics-for-wordpress/assets/js/frontend.min.js?ver=7.10.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jquery-migrate-1.2.1.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-includes/js/swfobject.js?ver=2.2-20120417'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/modernizr.js?ver=2.0.6'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jflickrfeed.js?ver=1.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/custom.js?ver=1.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/bootstrap/js/bootstrap.min.js?ver=2.3.0'></script>
<script type='text/javascript' src='//www.google.com/jsapi?ver=1.4.8'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var motopressGoogleChartsPHPData = {"motopressCE":"0"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/motopress-content-editor/includes/js/mp-google-charts.js?ver=1.4.8'></script>
<link rel='https://api.w.org/' href='https://www.intellect-minds.com.my/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.intellect-minds.com.my/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.intellect-minds.com.my/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.9.12" />
<link rel='shortlink' href='https://www.intellect-minds.com.my/?p=2079' />
<link rel="alternate" type="application/json+oembed" href="https://www.intellect-minds.com.my/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.intellect-minds.com.my%2Fsourcing-model%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.intellect-minds.com.my/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.intellect-minds.com.my%2Fsourcing-model%2F&#038;format=xml" />
<script>
 var system_folder = 'https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/admin/data_management/',
	 CHILD_URL ='https://www.intellect-minds.com.my/wp-content/themes/theme47828',
	 PARENT_URL = 'https://www.intellect-minds.com.my/wp-content/themes/CherryFramework', 
	 CURRENT_THEME = 'theme47828'</script>
<style type='text/css'>

</style>
<style type='text/css'>
h1 { font: bold 24px/34px Ubuntu;  color:#343434; }
h2 { font: bold 24px/34px Ubuntu;  color:#343434; }
h3 { font: bold 24px/34px Ubuntu;  color:#343434; }
h4 { font: bold 14px/18px Ubuntu;  color:#ffffff; }
h5 { font: normal 18px/18px Ubuntu;  color:#b80b07; }
h6 { font: normal 18px/20px Ubuntu;  color:#333333; }
body { font-weight: normal;}
.logo_h__txt, .logo_link { font: bold 48px/48px Ubuntu;  color:#1d1d1d; }
.sf-menu > li > a { font: bold 14px/18px Archivo Narrow;  color:#ffffff; }
.nav.footer-nav a { font: normal 10px/16px Ubuntu;  color:#b2b2b2; }
</style>
<link rel="icon" href="https://www.intellect-minds.com.my/wp-content/uploads/2018/07/LOGO.png" sizes="32x32" />
<link rel="icon" href="https://www.intellect-minds.com.my/wp-content/uploads/2018/07/LOGO.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="https://www.intellect-minds.com.my/wp-content/uploads/2018/07/LOGO.png" />
<meta name="msapplication-TileImage" content="https://www.intellect-minds.com.my/wp-content/uploads/2018/07/LOGO.png" />
		<style type="text/css" id="wp-custom-css">
			body {
    font-size: 14px;
}
.header .container {
    margin-top: -38px;
}
.main-holder .box .banner-wrap{
    height: 300px;
  }
.main-holder ul.job_listings li.job_listing a img.company_logo{
width: 25px;
 height: 25px;
}
.post__holder .featured-thumbnail.large { display: none; }
.header .header_widget h4
{
	margin-top: 45px!important;
}
#content {
    padding-top: 15px;
}
/*Updated by Deepak*/
.google-map{
	    border: 1px solid #d6d0d0;
    box-shadow: 2px 2px 1px 1px darkgrey;
}
@media (max-width: 767px){
.header .logo {
    float: none;
    margin: 25px 0 -20px 0;
    text-align: center;
	}
	.main-holder .box .banner-wrap {
    height: 350px !important;
}
.span2 > h6{
	text-align:center;
}
ul.clients {
	margin: 01px !important;
}
ul.clients li {
    margin: 10px 20px 10px 7px !important;
}
	.google-map{
	    border: 1px solid #d6d0d0;
    box-shadow: 2px 2px 1px 1px darkgrey;
		margin-bottom:10px;
}
	.size-full {
		width: 100%;
	}
	.main-holder .search-form input[type="submit"] {
    width: 46px!important;
	}
	.wpcf7-validates-as-tel{
		width: 192px!important;
    height: 30px!important;
    border-radius: 0px !important;
    background: #f4f4f4!important;
	}

}
/*23-10-2019*/
	.wpcf7-validates-as-tel{
		width: 192px!important;
    height: 30px!important;
    border-radius: 0px !important;
    background: #f4f4f4!important;
	}
@media(min-width:768px){
	.divright{
     position: absolute!important;
    left: 615px!important;
}
}
		</style>
	
	
	<!--[if lt IE 9]>

		<div id="ie7-alert" style="width: 100%; text-align:center;">

			<img src="http://tmbhtest.com/images/ie7.jpg" alt="Upgrade IE 8" width="640" height="344" border="0" usemap="#Map" />

			<map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank" alt="Download Firefox" /><area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />

			</map>

		</div>

	<![endif]-->

	<!--[if gte IE 9]><!-->
	

		<script src="https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jquery.mobile.customized.min.js" type="text/javascript"></script>

		<script type="text/javascript">

			jQuery(function(){

				jQuery('.sf-menu').mobileMenu({defaultText: "Navigate to..."});

			});

		</script>

	<!--<![endif]-->

	<script type="text/javascript">

		// Init navigation menu

		jQuery(function(){

		// main navigation init

			jQuery('ul.sf-menu').superfish({

				delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing

				animation: {

					opacity: "show",

					height: "show"

				}, // used to animate the sub-menu open

				speed: "normal", // animation speed

				autoArrows: true, // generation of arrow mark-up (for submenu)

				disableHI: true // to disable hoverIntent detection

			});



		//Zoom fix

		//IPad/IPhone

			var viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]'),

				ua = navigator.userAgent,

				gestureStart = function () {

					viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";

				},

				scaleFix = function () {

					if (viewportmeta && /iPhone|iPad/.test(ua) && !/Opera Mini/.test(ua)) {

						viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";

						document.addEventListener("gesturestart", gestureStart, false);

					}

				};

			scaleFix();

		})

	</script>

	<!-- stick up menu -->

	<script type="text/javascript">

		jQuery(document).ready(function(){

			if(!device.mobile() && !device.tablet()){

				jQuery('.header .nav__primary').tmStickUp({

					correctionSelector: jQuery('#wpadminbar')

				,	listenSelector: jQuery('.listenSelector')

				,	active: false
				,	pseudo: true
				});

			}

		})

	</script>



<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');



  ga('create', 'UA-74588312-1', 'auto');

  ga('send', 'pageview');



</script>

</head>



<body class="page-template page-template-page-fullwidth page-template-page-fullwidth-php page page-id-2079 theme47828">

	<div id="motopress-main" class="main-holder">

		<!--Begin #motopress-main-->

		<header class="motopress-wrapper header">

			<div class="container">

				<div class="row">

					<div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="5dce2ca35863e">

						<div class="row">
	<div class="span6" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
		<!-- BEGIN LOGO -->
<div class="logo pull-left">
									<a href="https://www.intellect-minds.com.my/" class="logo_h logo_h__img"><img src="http://www.intellect-minds.com.my/wp-content/uploads/2019/07/intellect-minds-red-logo.png" alt="Intellect Minds Best Job Recruitment Agency &amp; Consultancy in Kuala Lumpur" title=""></a>
				</div>
<!-- END LOGO -->	</div>
	<div class="span6">
		<div class="header_widget" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar">
					</div>
		<div class="hidden-phone" data-motopress-type="static" data-motopress-static-file="static/static-search.php">
			<!-- BEGIN SEARCH FORM -->
	<div class="search-form search-form__h hidden-phone clearfix">
		<form id="search-header" class="navbar-form pull-right" method="get" action="https://www.intellect-minds.com.my/" accept-charset="utf-8">
			<input type="text" name="s" placeholder="search" class="search-form_it">
			<input type="submit" value="Go" id="search-form_is" class="search-form_is btn btn-primary">
		</form>
	</div>
<!-- END SEARCH FORM -->		</div>
	</div>
</div>
<div class="spacer"></div>
<div class="row">
	<div class="span8" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
		<!-- BEGIN MAIN NAVIGATION -->
<nav class="nav nav__primary clearfix">
<ul id="topnav" class="sf-menu"><li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home"><a href="https://www.intellect-minds.com.my/">Home</a></li>
<li id="menu-item-3631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="https://www.intellect-minds.com.my/expertise/">Expertise</a>
<ul class="sub-menu">
	<li id="menu-item-1811" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/expertise/information-technology/">Information Technology</a></li>
	<li id="menu-item-1812" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/expertise/banking-finance/">Banking &#038; Finance</a></li>
	<li id="menu-item-1805" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/expertise/managed-services/">Managed Services</a></li>
</ul>
</li>
<li id="menu-item-2863" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#">Clients</a>
<ul class="sub-menu">
	<li id="menu-item-2075" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/service-offerings-engineering/">Service Offerings</a></li>
	<li id="menu-item-2097" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/why-engage-us/">Why engage us?</a></li>
	<li id="menu-item-2096" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/suggestions/">Suggestions</a></li>
</ul>
</li>
<li id="menu-item-2905" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#">Jobseekers</a>
<ul class="sub-menu">
	<li id="menu-item-2120" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/current-openings/">Current Openings</a></li>
	<li id="menu-item-2118" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/quick-submission/">Quick Submission</a></li>
	<li id="menu-item-2117" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/join-us/">Join Us</a></li>
</ul>
</li>
<li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/contacts/">Contacts</a></li>
<li id="menu-item-3039" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.intellect-minds.com.my/blog/">Blog</a></li>
</ul></nav><!-- END MAIN NAVIGATION -->	</div>
	<!-- Social Links -->
	<div class="span4 social-nets-wrapper" data-motopress-type="static" data-motopress-static-file="static/static-social-networks.php">
		<ul class="social">
	<li><a href="https://twitter.com/Intellect_Minds" title="twitter"><img src="http://www.intellect-minds.com.my/wp-content/themes/theme47828/images/social/twitter.png" alt="twitter"></a></li><li><a href="https://www.facebook.com/IntellectMindsPteLtd/" title="facebook"><img src="http://www.intellect-minds.com.my/wp-content/themes/theme47828/images/social/facebook.png" alt="facebook"></a></li><li><a href="mailto:info@intellect-minds.com" title="mail"><img src="http://www.intellect-minds.com.my/wp-content/themes/theme47828/images/social/mail.png" alt="mail"></a></li><li><a href="#" title="google"><img src="http://www.intellect-minds.com.my/wp-content/themes/theme47828/images/social/google.png" alt="google"></a></li></ul>	</div>
	<!-- /Social Links -->
</div>
					</div>

				</div>

			</div>

		</header>
<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="row">
			<div class="span12" data-motopress-wrapper-file="page-fullwidth.php" data-motopress-wrapper-type="content">
				<div class="row">
					<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-title.php">
						<section class="title-section">
	<h1 class="title-header">
					Sourcing Model	</h1>
				<!-- BEGIN BREADCRUMBS-->
			<ul class="breadcrumb breadcrumb__t"><li><a href="https://www.intellect-minds.com.my">Home</a></li><li class="divider"></li><li class="active">Sourcing Model</li></ul>			<!-- END BREADCRUMBS -->
	</section><!-- .title-section -->
					</div>
				</div>
				<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-2079" class="page post-2079 type-page status-publish hentry">
		<div class="row ">
<div class="span3 "><h2>Services List</h2>
<div class="list styled arrow-list">
<ul>
<li><a href="?page_id=2068">Business Services</a></li>
<li><a href="?page_id=2079">Sourcing Model </a></li>
<li><a href="?page_id=2087#">Vertical Specialization </a></li>
<li><a href="?page_id=2089">Why Hire Us </a></li>
<li><a href="?page_id=2091">Feedback </a></li>
</ul>
</div>
<h2>Follow Us on Facebook</h2>
<p><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FIntellectmindspte&amp;width&amp;height=480&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false" width="300" height="150" frameborder="0" scrolling="no"></iframe><br /></div>
<div class="span8 "><h2>Providing leading business services for employers</h2>
<h6><strong><img class=" wp-image-1985 alignleft" src="http://www.intellect-minds.com.my/wp-content/uploads/2011/07/image_1.jpg" alt="Providing leading business services" /></strong></h6>
<p><strong>It is difficult to hire the right people with the right abilities to fill the right positions in a short amount of time.<br />
</strong></p>
<p>We have designed and unique process which helps us to deliver the right candidate at the right right time to our client, leading into cost saving and smooth operations. At Intellect Minds, we provide you with the best candidates to fill vacant positions in your company.</p>
<p>After our clients provide us with their requirements, we will schedule and conduct interviews to sieve the talents and even provide them with necessary information regarding their jobs ( <a href="https://www.intellect-minds.com.my/"><strong>corporate secretarial jobs Malaysia</strong></a>). It will also be our responsibility to conduct the necessary checks to ensure that our candidates are well equipped for their role in your company.</p>
<h2>Permanent Placement</h2>
<h6><img class="alignleft wp-image-1989" src="http://www.intellect-minds.com.my/wp-content/uploads/2011/07/image_2.jpg" alt="image_2" /></h6>
<p><strong>Full time employee (FTE) are crucial and integral part of organziations, the success and failure of any oraganzation depends on what kind of employees you have. We at intellect minds fully understand this and that is why we bring only the best of the talents of the industry to the table, this not only helps us in growth and multiplying the numbers. </strong></p>
<ul>
<li>We obtain the client’s requirements via email or via phone call.</li>
<li>Our highly qualified and experienced recruiters perform a search for qualified candidates.</li>
<li>We provide the client with the profiles of qualified candidates.</li>
<li>We arrange for multi-leveled interviews for the client’s shortlisted employees.</li>
<li>We perform reference checks for the client’s selected candidate (s).</li>
<li>We help the client with the salary negotiations.</li>
<li>We help the candidate get on board by performing tests such as soft skill assessments and others.</li>
</ul>
<div class="spacer"></div><!-- .spacer (end) -->
<h2>Professional Services</h2>
<h6><img class="alignleft wp-image-1989" src="http://www.intellect-minds.com.my/wp-content/uploads/2011/07/image_2.jpg" alt="image_2" /></h6>
<p><strong>We have expert trainers who provide project management and MS Office trainings. We conduct three-to five-day trainings that can be held either on the client’s site or within our company’s premises. We are open to arrangements of either half-day or whole-day training sessions in order to accommodate the trainees’ schedules.</strong></p>
<p>We provide all of the necessary training materials as well as pre and post-tests for the trainees. Pre-tests are given a month before the training to help us gauge the trainees’ strengths and weaknesses and post-tests are given a day after the training’s completion in order to assess how well the trainees learned and to help the client assess the returns on their training investments. In addition, we provide certificates of completion to those who manage to complete the trainings.</p>
<ul>
<li>Obtain client’s requirements via phone call or email.</li>
<li>Perform a search for qualified candidates by our certified recruiters.</li>
<li>Provide the client with the profiles of the qualified candidates.</li>
<li>Arrange for multi-levelled interviews for employees short-listed by the client.</li>
<li>Perform reference checks for client’s selected candidate(s).</li>
<li>Hire the candidate(s).</li>
<li>Complete the necessary documentation for the candidate’s employment.</li>
<li>Aid the employee get on board at the client’s location.</li>
<li>Manage the employee’s monthly payroll, benefits, leaves and other HR-related matters.</li>
<li>After the contract expires,</li>
<li>her renew the employee’s contract or ensure the employee’s smooth exit.</li>
</ul>
<h6></h6></div>
</div><!-- .row (end) -->
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--post-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

		<footer class="motopress-wrapper footer">
			<div class="container">
				<div class="row">
					<div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="5dce2ca362c74">
						<div class="row footer-widgets">
	<div class="span2" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-1">
			</div>
	<div class="span2" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-2">
			</div>
	<div class="span2" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-3">
			</div>
	<div class="span2" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-4">
			</div>
	<div class="span4">
		<div class="indent_left">
			<div data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-5">
							</div>
			<div data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
				<div id="footer-text" class="footer-text">
		
			©  Copyright 2019. All Rights Reserved.		</div>			</div>
			<div data-motopress-type="static" data-motopress-static-file="static/static-footer-nav.php">
							</div>
		</div>
	</div>
</div>					</div>
				</div>
			</div>
		</footer>
		<!--End #motopress-main-->
	</div>
	<div id="back-top-wrapper" class="visible-desktop">
		<p id="back-top">
			<a href="#top"><span></span></a>		</p>
	</div>
		<link rel='stylesheet' id='bxSlidercss-css'  href='https://www.intellect-minds.com.my/wp-content/plugins/slider-image_old/style/jquery.bxslider.css?ver=4.9.12' type='text/css' media='all' />
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-includes/js/comment-reply.min.js?ver=4.9.12'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/jquery.flexslider-min.js?ver=2.2.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var items_custom = [[0,1],[480,2],[768,3],[980,4],[1170,5]];
/* ]]> */
</script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/cherry-plugin/includes/js/cherry-plugin.js?ver=1.2.7'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/www.intellect-minds.com.my\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.5'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/superfish.js?ver=1.5.3'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jquery.mobilemenu.js?ver=1.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jquery.magnific-popup.min.js?ver=0.9.3'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jplayer.playlist.min.js?ver=2.3.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jquery.jplayer.min.js?ver=2.6.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/tmstickup.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/device.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/jquery.zaccordion.min.js?ver=2.1.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/themes/CherryFramework/js/camera.min.js?ver=1.3.4'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-includes/js/wp-embed.min.js?ver=4.9.12'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/slider-image_old/js/jquery.bxslider.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://www.intellect-minds.com.my/wp-content/plugins/slider-image_old/js/bxslider.setup.js?ver=1.0.0'></script>
			<script type="text/javascript">
				deleteCookie('cf-cookie-banner');
			</script>
			 <!-- this is used by many Wordpress features and for plugins to work properly -->
</body>
</html>
<!-- Dynamic page generated in 0.679 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2019-11-15 04:42:11 -->

<!-- super cache -->