<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Job types` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Malaysia - Analytics Developer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Malaysia - Analytics Developer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Malaysia - Analytics Developer`...</div>
<div class="progress-msg"><b>CREATING</b> `Malaysia - Analytics Developer` `Job`</div>
<div class="progress-msg">Associate post `Malaysia - Analytics Developer` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Malaysia - Analytics Developer` `Job` (ID: 2559)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Malaysia - Junior Project Managers`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Malaysia - Junior Project Managers`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Malaysia - Junior Project Managers`...</div>
<div class="progress-msg"><b>CREATING</b> `Malaysia - Junior Project Managers` `Job`</div>
<div class="progress-msg">Associate post `Malaysia - Junior Project Managers` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Malaysia - Junior Project Managers` `Job` (ID: 2560)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Malaysia - Level one help desk support`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Malaysia - Level one help desk support`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Malaysia - Level one help desk support`...</div>
<div class="progress-msg"><b>CREATING</b> `Malaysia - Level one help desk support` `Job`</div>
<div class="progress-msg">Associate post `Malaysia - Level one help desk support` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Malaysia - Level one help desk support` `Job` (ID: 2561)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Malaysia - Oracle DBA`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Malaysia - Oracle DBA`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Malaysia - Oracle DBA`...</div>
<div class="progress-msg"><b>CREATING</b> `Malaysia - Oracle DBA` `Job`</div>
<div class="progress-msg">Associate post `Malaysia - Oracle DBA` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Malaysia - Oracle DBA` `Job` (ID: 2562)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Malaysia - PMO`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Malaysia - PMO`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Malaysia - PMO`...</div>
<div class="progress-msg"><b>CREATING</b> `Malaysia - PMO` `Job`</div>
<div class="progress-msg">Associate post `Malaysia - PMO` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Malaysia - PMO` `Job` (ID: 2563)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Malaysia - Storage Backup Specialist  (EMC Networker SME)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Malaysia - Storage Backup Specialist  (EMC Networker SME)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Malaysia - Storage Backup Specialist  (EMC Networker SME)`...</div>
<div class="progress-msg"><b>CREATING</b> `Malaysia - Storage Backup Specialist  (EMC Networker SME)` `Job`</div>
<div class="progress-msg">Associate post `Malaysia - Storage Backup Specialist  (EMC Networker SME)` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Malaysia - Storage Backup Specialist  (EMC Networker SME)` `Job` (ID: 2564)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore -  Senior Functional Data Analyst ÛÒ Mercury`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore -  Senior Functional Data Analyst ÛÒ Mercury`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore -  Senior Functional Data Analyst ÛÒ Mercury`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore -  Senior Functional Data Analyst ÛÒ Mercury` `Job`</div>
<div class="progress-msg">Associate post `Singapore -  Senior Functional Data Analyst ÛÒ Mercury` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore -  Senior Functional Data Analyst ÛÒ Mercury` `Job` (ID: 2565)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore -  Software Engineer - ION Marketview Resources`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore -  Software Engineer - ION Marketview Resources`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore -  Software Engineer - ION Marketview Resources`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore -  Software Engineer - ION Marketview Resources` `Job`</div>
<div class="progress-msg">Associate post `Singapore -  Software Engineer - ION Marketview Resources` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore -  Software Engineer - ION Marketview Resources` `Job` (ID: 2566)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - 4-5 developers  - Java - SC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - 4-5 developers  - Java - SC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - 4-5 developers  - Java - SC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - 4-5 developers  - Java - SC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - 4-5 developers  - Java - SC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - 4-5 developers  - Java - SC` `Job` (ID: 2567)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Accountant - Mediacorp`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Accountant - Mediacorp`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Accountant - Mediacorp`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Accountant - Mediacorp` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Accountant - Mediacorp` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Accountant - Mediacorp` `Job` (ID: 2568)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Automation Developer - SC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Automation Developer - SC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Automation Developer - SC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Automation Developer - SC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Automation Developer - SC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Automation Developer - SC` `Job` (ID: 2569)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Business Analyst BOND & SWAP - SC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Business Analyst BOND & SWAP - SC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Business Analyst BOND & SWAP - SC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Business Analyst BOND & SWAP - SC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Business Analyst BOND & SWAP - SC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Business Analyst BOND & SWAP - SC` `Job` (ID: 2570)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Business Analyst FX`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Business Analyst FX`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Business Analyst FX`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Business Analyst FX` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Business Analyst FX` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Business Analyst FX` `Job` (ID: 2571)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - C++ Developers`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - C++ Developers`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - C++ Developers`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - C++ Developers` `Job`</div>
<div class="progress-msg">Associate post `Singapore - C++ Developers` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - C++ Developers` `Job` (ID: 2572)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Engineering Manager ÛÒ 1  - CS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Engineering Manager ÛÒ 1  - CS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Engineering Manager ÛÒ 1  - CS`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Engineering Manager ÛÒ 1  - CS` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Engineering Manager ÛÒ 1  - CS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Engineering Manager ÛÒ 1  - CS` `Job` (ID: 2573)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Finance Analyst - Stanley`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Finance Analyst - Stanley`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Finance Analyst - Stanley`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Finance Analyst - Stanley` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Finance Analyst - Stanley` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Finance Analyst - Stanley` `Job` (ID: 2574)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Java profiles for CTC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Java profiles for CTC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Java profiles for CTC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Java profiles for CTC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Java profiles for CTC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Java profiles for CTC` `Job` (ID: 2575)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - PL/SQL Developer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - PL/SQL Developer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - PL/SQL Developer`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - PL/SQL Developer` `Job`</div>
<div class="progress-msg">Associate post `Singapore - PL/SQL Developer` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - PL/SQL Developer` `Job` (ID: 2576)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - SAP ABAP Lead  ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - SAP ABAP Lead  ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - SAP ABAP Lead  ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - SAP ABAP Lead  ( 1 year indirect contract - NEC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - SAP ABAP Lead  ( 1 year indirect contract - NEC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - SAP ABAP Lead  ( 1 year indirect contract - NEC` `Job` (ID: 2577)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - SAP DM consultant`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - SAP DM consultant`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - SAP DM consultant`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - SAP DM consultant` `Job`</div>
<div class="progress-msg">Associate post `Singapore - SAP DM consultant` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - SAP DM consultant` `Job` (ID: 2578)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - SAP FICO Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - SAP FICO Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - SAP FICO Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - SAP FICO Consultant ( 1 year indirect contract - NEC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - SAP FICO Consultant ( 1 year indirect contract - NEC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - SAP FICO Consultant ( 1 year indirect contract - NEC` `Job` (ID: 2579)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - SAP MM/WM Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - SAP MM/WM Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - SAP MM/WM Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - SAP MM/WM Consultant ( 1 year indirect contract - NEC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - SAP MM/WM Consultant ( 1 year indirect contract - NEC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - SAP MM/WM Consultant ( 1 year indirect contract - NEC` `Job` (ID: 2580)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - SAP SD/CS Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - SAP SD/CS Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - SAP SD/CS Consultant ( 1 year indirect contract - NEC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - SAP SD/CS Consultant ( 1 year indirect contract - NEC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - SAP SD/CS Consultant ( 1 year indirect contract - NEC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - SAP SD/CS Consultant ( 1 year indirect contract - NEC` `Job` (ID: 2581)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Senior Functional Data Analyst ÛÒ Apollo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Senior Functional Data Analyst ÛÒ Apollo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Senior Functional Data Analyst ÛÒ Apollo`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Senior Functional Data Analyst ÛÒ Apollo` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Senior Functional Data Analyst ÛÒ Apollo` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Senior Functional Data Analyst ÛÒ Apollo` `Job` (ID: 2582)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Senior Functional Data Analyst ÛÒ Foundation`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Senior Functional Data Analyst ÛÒ Foundation`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Senior Functional Data Analyst ÛÒ Foundation`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Senior Functional Data Analyst ÛÒ Foundation` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Senior Functional Data Analyst ÛÒ Foundation` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Senior Functional Data Analyst ÛÒ Foundation` `Job` (ID: 2583)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Specification Manager) 1 - CS`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Specification Manager) 1 - CS`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Specification Manager) 1 - CS`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Specification Manager) 1 - CS` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Specification Manager) 1 - CS` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Specification Manager) 1 - CS` `Job` (ID: 2584)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Singapore - Tech lead - Java - SC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Singapore - Tech lead - Java - SC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Singapore - Tech lead - Java - SC`...</div>
<div class="progress-msg"><b>CREATING</b> `Singapore - Tech lead - Java - SC` `Job`</div>
<div class="progress-msg">Associate post `Singapore - Tech lead - Java - SC` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_type` ...</div>
<div class="progress-msg"><b>CREATED</b> `Singapore - Tech lead - Java - SC` `Job` (ID: 2585)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
