@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,400italic,700);
@import url(//fonts.googleapis.com/css?family=Archivo+Narrow:700);
body { background:#101719; }
@media (max-width: 767px) {
	body { padding:0; }
}
.main-holder input[type="text"], .main-holder input[type="email"], .main-holder textarea {
	background:none;
	min-height:41px;
	margin:0;
	padding:10px 14px 10px 14px !important;
	border:1px solid #d5d6d6;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	resize:none;
	font-family:'Ubuntu', sans-serif;
	font-size:12px;
	font-weight:400;
	color:#83868a;
}
html.ie8 .main-holder input[type="text"], html.ie8 .main-holder input[type="email"], html.ie8 .main-holder textarea {
	min-height:19px;
	line-height:19px;
}
html.ie8 .main-holder input[type="text"], html.ie8 .main-holder input[type="email"] { height:41px; }
.main-holder input[type="submit"], .main-holder input[type="reset"] {
	background:url(images/btn.png) repeat-x 0% 0%;
	height:36px;
	margin:0 10px 0 0;
	padding:0 18px 0 18px;
	border:none;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	text-transform:uppercase;
	color:#fff;
}
.main-holder input[type="submit"]:focus, .main-holder input[type="reset"]:focus {
	background:url(images/btn.png) repeat-x 0% 0%;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	color:#fff;
}
.main-holder input[type="submit"]:hover, .main-holder input[type="reset"]:hover {
	background-position:0% -37px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	color:#fff;
}
.main-holder .search-form {
	background:url(images/search.png) repeat 0% 0%;
	width:217px;
	height:22px;
	padding:1px;
	border:1px solid #cccfd3;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.main-holder .search-form input[type="text"] {
	float:left;
	width:170px;
	min-height:22px;
	padding:2px 10px 2px 10px !important;
	border:none;
}
.main-holder .search-form input[type="submit"] {
	background:url(images/submit.png) no-repeat 0% 0%;
	float:left;
	width:46px;
	height:22px;
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	line-height:0;
	font-size:0;
}
.main-holder .search-form input[type="submit"]:hover { background-position:0% -23px; }
h1 { text-transform:uppercase; }
h1 a {
	text-decoration:none;
	color:#343434;
}
h1 a:hover {
	text-decoration:none;
	color:#b80b07;
}
h2 {
	margin-bottom:33px;
	text-transform:uppercase;
}
h2 a {
	text-decoration:none;
	color:#343434;
}
h2 a:hover {
	text-decoration:none;
	color:#b80b07;
}
h3 {
	margin-bottom:34px;
	text-transform:uppercase;
}
h3 a {
	text-decoration:none;
	color:#343434;
}
h3 a:hover {
	text-decoration:none;
	color:#b80b07;
}
h4 {
	margin-bottom:15px;
	padding:0 0 13px 0;
	border-bottom:4px solid #b80b07;
	text-transform:uppercase;
}
h4 a {
	text-decoration:none;
	color:#fff;
}
h4 a:hover {
	text-decoration:none;
	color:#b80b07;
}
h5 { text-transform:uppercase;
font-size: 20px;
font-weight:800;
font-family:Open Sans; }
h6 { letter-spacing:-1px; }
h6 strong {
	display:block;
	letter-spacing:normal;
	line-height:18px;
	font-size:12px;
	font-weight:400;
	color:#4e4e4e;
}
p { margin:0 0 21px 0; }
.header {
	background:url(images/header.jpg) repeat 0% 0%;
	margin:0;
	padding:0px 0 17px 0;
	border:none;
}
@media (max-width: 767px) {
	.header { padding:0px 20px 17px 20px; }
}
.header .container { background:url(images/header_line.jpg) repeat-x 0% 100%; }
@media (max-width: 767px) {
	.header .container { padding:0 20px; }
}
.header .logo { margin:23px 0 0 -1px; }
html.ie8 .header .logo { margin:10px 0 0 0; }
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo {
		width:100%;
		margin:10px 0 0 0;
	}
}
@media (max-width: 767px) {
	.header .logo {
		float:none;
		margin:0 0 20px 0;
		text-align:center;
	}
}
.header .logo img {
	float:left;
	margin:0 4px 0 0;
}
html.ie8 .header .logo img {
	float:none;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo img { float:none; }
}
@media (max-width: 767px) {
	.header .logo img {
		float:none;
		margin:0;
	}
}
.header .logo .logo_h__txt {
	float:left;
	margin:-9px 4px 0 0;
	letter-spacing:-2px;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo .logo_h__txt { float:none; }
}
@media (max-width: 767px) {
	.header .logo .logo_h__txt {
		float:none;
		margin:-9px 0 0 0;
	}
}
.header .logo .logo_h__txt a { text-decoration:none; }
@media (max-width: 480px) {
	.header .logo .logo_h__txt a { font-size:38px; }
}
.header .logo .logo_h__txt a:focus {
	text-decoration:none;
	color:#1d1d1d;
}
.header .logo .logo_h__txt a:hover {
	text-decoration:none;
	color:#1d1d1d;
}
.header .logo .logo_tagline {
	float:left;
	margin:19px 0 0 0;
	font-size:11px;
	text-transform:uppercase;
	color:#2c2c2c;
}
html.ie8 .header .logo .logo_tagline {
	float:none;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo .logo_tagline {
		float:none;
		margin:0;
	}
}
@media (max-width: 767px) {
	.header .logo .logo_tagline {
		float:none;
		margin:0;
	}
}
.header .header_widget {
	width:100%;
	overflow:hidden;
	margin:0 0 16px 0;
	padding:5px 0 0 0;
	text-align:right;
}
@media (max-width: 767px) {
	.header .header_widget { text-align:center; }
}
.header .header_widget h4 {
	display:inline-block;
	margin:0;
	padding:0;
	border:none;
	vertical-align:top;
	line-height:18px;
	font-family:'Archivo Narrow', sans-serif;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	color:#141414;
}
.header .header_widget .textwidget {
	float:right;
	margin:0 0 0 5px;
	letter-spacing:1px;
	line-height:18px;
	font-family:'Archivo Narrow', sans-serif;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	color:#141414;
}
@media (max-width: 767px) {
	.header .header_widget .textwidget {
		display:inline-block;
		float:none;
		vertical-align:top;
	}
}
.header .header_widget .textwidget i {
	background:url(images/icon_phone.png) no-repeat 0% 0%;
	float:right;
	width:26px;
	height:26px;
	overflow:hidden;
	margin:-5px 0 0 7px;
}
.header .search-form { float:right; }
.header .nav__primary { margin:13px 0 16px 63px; }
@media (min-width: 979px) and (max-width: 1200px) {
	.header .nav__primary { margin:13px 0 16px 6px; }
}
html.ie8 .header .nav__primary { margin:13px 0 16px 6px; }
@media (min-width: 768px) and (max-width: 979px) {
	.header .nav__primary { margin:13px 0 16px 8px; }
}
@media (max-width: 767px) {
	.header .nav__primary { margin:0 0 16px 0; }
}
.header .nav__primary .sf-menu { float:left; }
.header .nav__primary .sf-menu ul {
	background:#2c2c2c;
	width:220px;
	padding:30px 10px 16px 19px;
}
.header .nav__primary .sf-menu > li {
	background:url(images/menu_divider.gif) no-repeat 100% 0%;
	padding:0 7px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .nav__primary .sf-menu > li { padding:0 5px; }
}
.header .nav__primary .sf-menu > li > a {
	padding:7px 17px 6px 17px;
	border:none;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	text-transform:uppercase;
	text-decoration:none;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .nav__primary .sf-menu > li > a { padding:7px 9px 6px 9px; }
}
.header .nav__primary .sf-menu > li li {
	background:none;
	margin:0 0 16px 0;
	text-align:left;
}
.header .nav__primary .sf-menu > li li a {
	padding:0;
	border:none;
	line-height:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.header .nav__primary .sf-menu > li li .sf-sub-indicator { display:none; }
.header .nav__primary .sf-menu li:hover ul, .header .nav__primary .sf-menu li.sfHover ul {
	margin:0 0 0 -58px;
	top:47px;
	left:50%;
}
.header .nav__primary ul.sf-menu li li:hover ul, .header .nav__primary ul.sf-menu li li.sfHover ul {
	background:#b80b07;
	margin:0;
	top:-30px;
	left:97px;
}
.header .nav__primary .sf-menu > li > a:hover, .header .nav__primary .sf-menu > li.sfHover> a, .header .nav__primary .sf-menu > li.current-menu-item > a, .header .nav__primary .sf-menu > li.current_page_item > a { background:url(images/menu_act.gif) repeat-x 0% 0%; }
.header .nav__primary .sf-menu > li > a:hover .sf-sub-indicator, .header .nav__primary .sf-menu > li.sfHover> a .sf-sub-indicator, .header .nav__primary .sf-menu > li.current-menu-item > a .sf-sub-indicator, .header .nav__primary .sf-menu > li.current_page_item > a .sf-sub-indicator { display:none; }
.header .nav__primary .sf-menu li li > a:hover, .header .nav__primary .sf-menu li li.sfHover > a, .header .nav__primary .sf-menu li li.current-menu-item > a, .header .nav__primary .sf-menu li li.current_page_item > a {
	background:none;
	color:#8e8e8e;
}
.header .nav__primary .sf-menu li li li > a:hover, .header .nav__primary .sf-menu li li li.sfHover > a, .header .nav__primary .sf-menu li li li.current-menu-item > a, .header .nav__primary .sf-menu li li li.current_page_item > a {
	background:none;
	color:#000;
}
.header .nav__primary .sf-sub-indicator {
	background:url(images/arrows-ffffff.png) no-repeat 0% 0%;
	width:7px;
	height:4px;
	margin:0 -3px 0 0;
	top:28px;
	right:50%;
}
.header .social-nets-wrapper { text-align:right; }
@media (max-width: 767px) {
	.header .social-nets-wrapper {
		margin:0 0 12px 0;
		padding:12px 0 0 0;
		text-align:center;
	}
}
.header .social-nets-wrapper ul {
	margin:12px 22px 0 0;
	padding:0;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.header .social-nets-wrapper ul { margin:12px 12px 0 0; }
}
html.ie8 .header .social-nets-wrapper ul { margin:12px 12px 0 0; }
@media (max-width: 767px) {
	.header .social-nets-wrapper ul { margin:0; }
}
.header .social-nets-wrapper ul li {
	display:inline-block;
	margin:0;
	padding:0;
	margin:0 0 0 4px;
	vertical-align:top;
}
.header .social-nets-wrapper ul li a {
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.header .social-nets-wrapper ul li a:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.header .spacer { height:21px; }
@media (max-width: 767px) {
	.header .spacer { display:none; }
}
#slider-wrapper {
	background:url(images/slider.gif) repeat 50% 0%;
	padding:53px 0 12px 0;
}
@media (min-width: 979px) and (max-width: 1200px) {
	#slider-wrapper { padding:53px 0 33px 0; }
}
html.ie8 #slider-wrapper { padding:53px 0 33px 0; }
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper { padding:53px 0 33px 0; }
}
@media (max-width: 767px) {
	#slider-wrapper { padding:53px 20px 33px 20px; }
}
#slider-wrapper:before {
	background:url(images/slider_line.jpg) repeat-x 0% 0%;
	display:block;
	width:100%;
	height:20px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	content:'';
}
#slider-wrapper .container .camera_wrap { margin:0 !important; }
#slider-wrapper .container .camera_caption {
	width:410px;
	line-height:18px;
	font-size:12px;
	text-transform:uppercase;
	color:#fff;
	position:absolute;
	top:102px;
	left:77px;
}
@media (min-width: 979px) and (max-width: 1200px) {
	#slider-wrapper .container .camera_caption {
		width:350px;
		top:60px;
		left:50px;
	}
}
html.ie8 #slider-wrapper .container .camera_caption {
	width:350px;
	top:60px;
	left:50px;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption {
		width:300px;
		text-transform:none;
		top:30px;
		left:30px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption {
		width:200px;
		top:20px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption {
		width:125px;
		top:10px;
		left:60px;
	}
}
#slider-wrapper .container .camera_caption div {
	background:none;
	padding:0;
}
#slider-wrapper .container .camera_caption div strong {
	display:block;
	margin:0 0 -5px 0;
	line-height:50px;
	font-size:50px;
	font-weight:700;
	text-transform:uppercase;
	color:#b80b07;
}
@media (min-width: 979px) and (max-width: 1200px) {
	#slider-wrapper .container .camera_caption div strong {
		margin:0;
		line-height:40px;
		font-size:40px;
	}
}
html.ie8 #slider-wrapper .container .camera_caption div strong {
	margin:0;
	line-height:40px;
	font-size:40px;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption div strong {
		margin:0;
		line-height:30px;
		font-size:30px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div strong {
		margin:0;
		line-height:20px;
		font-size:20px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption div strong {
		line-height:12px;
		font-size:12px;
	}
}
#slider-wrapper .container .camera_caption div em {
	display:block;
	margin:0 0 15px 0;
	line-height:30px;
	font-size:36px;
	font-style:normal;
	text-transform:uppercase;
	color:#fff;
}
@media (min-width: 979px) and (max-width: 1200px) {
	#slider-wrapper .container .camera_caption div em {
		line-height:24px;
		font-size:30px;
	}
}
html.ie8 #slider-wrapper .container .camera_caption div em {
	line-height:24px;
	font-size:30px;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption div em {
		line-height:20px;
		font-size:20px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div em {
		line-height:20px;
		font-size:20px;
		text-transform:lowercase;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption div em {
		line-height:12px;
		font-size:12px;
	}
}
#slider-wrapper .container .camera_caption div p { margin:0 0 13px 0; }
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div p { display:none; }
}
#slider-wrapper .container .camera_caption div a {
	background:url(images/button.gif) repeat-x 0% 0%;
	display:inline-block;
	height:29px;
	margin:0;
	padding:10px 36px 0 36px;
	vertical-align:top;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 3px rgba(0,0,0,0.3);
	box-shadow:0 3px 3px rgba(0,0,0,0.3);
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption div a {
		height:auto;
		padding:5px 10px;
		font-size:12px;
	}
}
#slider-wrapper .container .camera_caption div a:hover { background:#003840; }
#slider-wrapper .container .camera_prev {
	background:none;
	width:25px;
	height:41px;
	margin-top:-21px;
	left:-45px;
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_prev { left:21px; }
}
#slider-wrapper .container .camera_prev span {
	background:url(images/prev.png) no-repeat 0% 0%;
	width:25px;
	height:41px;
	overflow:hidden;
}
#slider-wrapper .container .camera_prev span:hover { background-position:0% -42px; }
#slider-wrapper .container .camera_next {
	background:none;
	width:25px;
	height:41px;
	margin-top:-21px;
	right:-45px;
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_next { right:21px; }
}
#slider-wrapper .container .camera_next span {
	background:url(images/next.png) no-repeat 0% 0%;
	width:25px;
	height:41px;
	overflow:hidden;
}
#slider-wrapper .container .camera_next span:hover { background-position:0% -42px; }
#slider-wrapper .container .camera_pag {
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
}
#slider-wrapper .container .camera_thumbs {
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
}
#slider-wrapper .container .camera_thumbs .camera_thumbs_cont { background:none; }
.content-holder {
	background:url(images/content.jpg) repeat 50% 0%;
	overflow:hidden;
	margin:0;
	padding:0 0 60px 0;
}
@media (max-width: 767px) {
	.content-holder { padding:0 20px 60px 20px; }
}
body.home .content-holder { padding:0; }
@media (max-width: 767px) {
	body.home .content-holder { padding:0 20px; }
}
#sidebar .widget { margin-bottom:45px; }
#sidebar ul {
	margin:0;
	padding:0;
}
#sidebar ul li {
	background:url(images/marker_1.gif) no-repeat 0% 15px;
	margin:0;
	padding:10px 0 11px 16px;
	border-top:1px solid #d1d1d1;
	list-style:none;
	line-height:18px;
	font-size:13px;
	font-style:italic;
	color:#83868a;
}
#sidebar ul li:first-child { border:none; }
#sidebar ul li:before { display:none; }
#sidebar ul li ul {
	margin:10px 0 -11px 0;
	border-top:1px solid #d1d1d1;
}
#sidebar ul li a {
	text-decoration:none;
	color:#83868a;
}
#sidebar ul li a:hover {
	text-decoration:none;
	color:#b80b07;
}
#sidebar #wp-calendar caption { color:#a40000; }
#sidebar #wp-calendar thead tr th { color:#a40000; }
.hero-unit {
	background:url(images/hero-unit.jpg) repeat 50% 0%;
	position:relative;
	margin:0;
	padding:45px 270px 36px 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:16px;
	font-size:14px;
	color:#3d3d3c;
}
@media (max-width: 767px) {
	.hero-unit { padding:45px 0 36px 0; }
}
.hero-unit:before {
	background:url(images/hero-unit.jpg) repeat 50% 0%;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:-99%;
	z-index:-1;
	content:'';
}
.hero-unit:after {
	background:url(images/hero-unit.jpg) repeat 50% 0%;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	right:-99%;
	z-index:-1;
	content:'';
}
.hero-unit h1 {
	margin:0 0 8px 0;
	letter-spacing:normal;
	line-height:36px;
	font-size:30px;
	font-weight:700;
	text-transform:none;
	color:#202020;
}
.hero-unit h1 span { color:#b80b07; }
@media (max-width: 480px) {
	.hero-unit h1 {
		line-height:26px;
		font-size:20px;
	}
}
.hero-unit .btn-align {
	position:absolute;
	top:80px;
	right:0;
}
@media (max-width: 767px) {
	.hero-unit .btn-align {
		position:relative;
		top:auto;
		right:auto;
	}
}
.hero-unit .btn-align a.btn-primary {
	background:url(images/button.gif) repeat-x 0% 0%;
	display:inline-block;
	height:30px;
	margin:0;
	padding:9px 30px 0 30px;
	vertical-align:top;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 3px rgba(0,0,0,0.3);
	box-shadow:0 3px 3px rgba(0,0,0,0.3);
	text-decoration:none;
	font-size:14px;
	color:#fff;
}
.hero-unit .btn-align a.btn-primary:hover { background:#003840; }
a.btn-link {
	background:url(images/arrow.gif) no-repeat 100% 8px;
	margin:0;
	padding:0 15px 0 0;
	line-height:21px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#e85c41;
}
@media (max-width: 767px) {
	a.btn-link { margin:0 0 20px 0; }
}
a.btn-link:focus {
	background:url(images/arrow.gif) no-repeat 100% 8px;
	text-decoration:none;
	color:#e85c41;
}
a.btn-link:hover {
	background:url(images/arrow.gif) no-repeat 100% 8px;
	text-decoration:none;
	color:#b80b07;
}
a.btn-primary {
	background:url(images/btn.png) repeat-x 0% 0%;
	height:28px;
	margin:0 10px 2px 0;
	padding:8px 18px 0 18px;
	border:none;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	text-shadow:none;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
a.btn-primary:focus {
	background:url(images/btn.png) repeat-x 0% 0%;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	text-decoration:none;
	color:#fff;
}
a.btn-primary:hover {
	background-position:0% -37px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	text-decoration:none;
	color:#fff;
}
.box {
	background:url(images/box.jpg) repeat 50% 0%;
	position:relative;
	margin:0 0 59px 0;
	padding:38px 0 33px 0;
}
@media (max-width: 767px) {
	.box { margin:0 0 30px 0; }
}
.box:before {
	background:url(images/box.jpg) repeat 50% 0%;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:-99%;
	z-index:-1;
	content:'';
}
.box:after {
	background:url(images/box.jpg) repeat 50% 0%;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	right:-99%;
	z-index:-1;
	content:'';
}
.box_1 {
	background:#fff;
	position:relative;
	margin:38px 0 0 0;
	padding:17px 0 27px 0;
	border-top:1px solid #ebebeb;
}
.box_1:before {
	background:#fff;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	border-top:1px solid #ebebeb;
	position:absolute;
	top:0;
	left:-99%;
	z-index:-1;
	content:'';
}
.box_1:after {
	background:#fff;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	border-top:1px solid #ebebeb;
	position:absolute;
	top:0;
	right:-99%;
	z-index:-1;
	content:'';
}
@media (max-width: 767px) {
	.box_1 h6 br {
		letter-spacing:normal;
		display:none;
	}
}
.banner-wrap {
	position:relative;
	padding:27px 25px 22px 26px;
	border:1px solid #d6d6d6;
	line-height:18px;
	font-size:12px;
	color:#4e4e4e;
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap { padding:27px 15px 15px 15px; }
}
@media (max-width: 767px) {
	.banner-wrap {
		width:100%;
		overflow:hidden !important;
		margin:0 0 40px 0 !important;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
@media (max-width: 480px) {
	.banner-wrap { overflow:visible !important; }
}
.banner-wrap:hover {
	background:#b80b07;
	border-color:#b80b07;
	color:#fff;
}
.banner-wrap:hover h5 { color:#fff; }
.banner-wrap:hover .banner-btn a { background-position:0% -37px; }
.banner-wrap .featured-thumbnail { margin:0 0 13px 0; }
@media (max-width: 767px) {
	.banner-wrap .featured-thumbnail {
		float:left;
		margin:0 20px 0 0;
	}
}
@media (max-width: 480px) {
	.banner-wrap .featured-thumbnail {
		float:none;
		margin:0 0 13px 0;
	}
}
.banner-wrap .featured-thumbnail a { border:1px solid #e6e4e6; }
@media (min-width: 979px) and (max-width: 1200px) {
	.banner-wrap .featured-thumbnail a {
		width:100%;
		height:auto;
	}
}
html.ie8 .banner-wrap .featured-thumbnail a {
	width:100%;
	height:auto;
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap .featured-thumbnail a {
		width:100%;
		height:auto;
	}
}
.banner-wrap h5 {
	margin:0 0 9px 0;
	letter-spacing:-1px;
	line-height:21px;
	font-size:24px;
	color:#343434;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.banner-wrap h5 {
		line-height:16px;
		font-size:16px;
	}
}
html.ie8 .banner-wrap h5 {
	line-height:16px;
	font-size:16px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap h5 {
		line-height:20px;
		font-size:20px;
		font-weight: bold;

	}
}
.banner-wrap p { margin:0 0 17px 0; }
.banner-wrap .banner-btn a {
	background:url(images/btn.png) repeat-x 0% 0%;
	height:28px;
	margin:0 10px 2px 0;
	padding:8px 18px 0 18px;
	border:none;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	text-shadow:none;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.banner-wrap .banner-btn a:focus {
	background:url(images/btn.png) repeat-x 0% 0%;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	text-decoration:none;
	color:#fff;
}
.banner-wrap .banner-btn a:hover {
	background-position:0% -37px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	text-decoration:none;
	color:#fff;
}
@media (max-width: 767px) {
	.banner-wrap:before { display:none !important; }
}
@media (max-width: 480px) {
	.banner-wrap:before { display:block !important; }
}
.banner-wrap.icon_1 {
	margin:0;
	overflow:visible;
}
.banner-wrap.icon_1:before {
	background:url(images/icon_1.png) no-repeat 0% 0%;
	display:block;
	width:54px;
	height:54px;
	overflow:hidden;
	margin:0 0 0 -27px;
	position:absolute;
	top:-26px;
	left:50%;
	content:'';
}
.banner-wrap.icon_2 {
	margin:0;
	overflow:visible;
}
.banner-wrap.icon_2:before {
	background:url(images/icon_2.png) no-repeat 0% 0%;
	display:block;
	width:54px;
	height:54px;
	overflow:hidden;
	margin:0 0 0 -27px;
	position:absolute;
	top:-26px;
	left:50%;
	content:'';
}
.banner-wrap.icon_3 {
	margin:0;
	overflow:visible;
}
.banner-wrap.icon_3:before {
	background:url(images/icon_3.png) no-repeat 0% 0%;
	display:block;
	width:54px;
	height:54px;
	overflow:hidden;
	margin:0 0 0 -27px;
	position:absolute;
	top:-26px;
	left:50%;
	content:'';
}
.banner-wrap.icon_4 {
	margin:0;
	overflow:visible;
}
.banner-wrap.icon_4:before {
	background:url(images/icon_4.png) no-repeat 0% 0%;
	display:block;
	width:54px;
	height:54px;
	overflow:hidden;
	margin:0 0 0 -27px;
	position:absolute;
	top:-26px;
	left:50%;
	content:'';
}
.list.arrow-list { margin:0 0 10px 0; }
.list.arrow-list ul {
	margin:0;
	padding:0;
}
.list.arrow-list ul li {
	background:url(images/marker_1.gif) no-repeat 0% 15px;
	margin:0;
	padding:10px 0 11px 16px;
	border-top:1px solid #d1d1d1;
	list-style:none;
	line-height:18px;
	font-size:13px;
	font-style:italic;
	color:#83868a;
}
.list.arrow-list ul li:first-child { border:none; }
.list.arrow-list ul li:before { display:none; }
.list.arrow-list ul li a {
	text-decoration:none;
	color:#83868a;
}
.list.arrow-list ul li a:hover {
	text-decoration:none;
	color:#b80b07;
}
.list.custom-list { padding:8px 0 0 0; }
.list.custom-list ul {
	margin:0;
	padding:0;
}
.list.custom-list ul li {
	margin:0;
	padding:28px 0 5px 0;
	border-top:1px solid #d1d1d1;
	line-height:21px;
	font-size:12px;
	color:#83868a;
}
.list.custom-list ul li:first-child {
	padding:0 0 5px 0;
	border:none;
}
.list.custom-list ul li:before { display:none; }
.list.custom-list ul li em {
	float:left;
	margin:0 30px 10px 0;
	line-height:40px;
	font-size:40px;
	font-weight:700;
	font-style:normal;
	color:#343434;
}
.list.custom-list ul li strong {
	display:block;
	overflow:hidden;
	padding:1px 0 1px 0;
	font-size:14px;
	font-weight:700;
	color:#b80b07;
}
ul.news {
	margin:0 !important;
	padding:9px 0 13px 0;
}
ul.news li {
	position:relative;
	margin:0 0 5px 0;
	padding:51px 0 0 0;
	border-top:1px solid #d1d1d1;
	line-height:21px;
	font-size:12px;
	color:#83868a;
}
ul.news li:first-child {
	padding:21px 0 0 0;
	border:none;
}
ul.news li:first-child .meta { top:0; }
ul.news li .meta {
	display:block;
	line-height:21px;
	font-size:14px;
	font-weight:700;
	text-transform:none;
	color:#b80b07;
	position:absolute;
	top:29px;
	left:0;
}
ul.news li .meta .post-comments { display:none; }
ul.news li h5 {
	display:inline;
	margin:0 3px 0 0;
	line-height:21px;
	font-size:13px;
	text-transform:none;
	color:#1b1b1b;
}
ul.news li h5 a {
	text-decoration:none;
	color:#1b1b1b;
}
ul.news li h5 a:hover {
	text-decoration:none;
	color:#b80b07;
}
ul.news li .excerpt { display:inline; }
ul.team { padding:13px 0 0 0; }
@media (min-width: 1200px) and (max-width: 2600px) {
	ul.team li {
		max-width:172px !important;
		margin-left:27px !important;
	}
}
@media (max-width: 767px) {
	ul.team li {
		width:100%;
		overflow:hidden;
	}
}
ul.team li:first-child { margin-left:0 !important; }
ul.team li .thumbnail { margin:0 0 20px 0; }
@media (max-width: 767px) {
	ul.team li .thumbnail { margin:0 20px 0 0; }
}
@media (max-width: 767px) {
	ul.team li .clear { display:none; }
}
ul.team li h5 {
	margin:0;
	line-height:21px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-transform:none;
	color:#000;
}
ul.team li h5 a {
	text-decoration:none;
	color:#000;
}
ul.team li h5 a:hover {
	text-decoration:none;
	color:#e85c41;
}
ul.clients {
	margin:0 !important;
	padding:11px 0 0 0;
}
ul.clients li {
	display:inline-block;
	width:170px;
	margin-bottom:0;
	margin-left:30px;
	vertical-align:top;
}
@media (min-width: 979px) and (max-width: 1200px) {
	ul.clients li {
		width:140px;
		margin-left:20px;
	}
}
html.ie8 ul.clients li {
	width:140px;
	margin-left:20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.clients li {
		width:104px;
		margin-left:20px;
	}
}
@media (max-width: 767px) {
	ul.clients li {
		width:auto;
		margin:10px 20px 10px 0;
	}
}
ul.clients li:first-child { margin-left:0; }
html.ie8 ul.clients li:first-child { margin-left:0; }
ul.clients li h5 { display:none; }
ul.clients li .thumbnail {
	background:none;
	margin:0;
	border:none;
}
@media (min-width: 979px) and (max-width: 1200px) {
	ul.clients li .thumbnail {
		width:100%;
		height:auto;
	}
}
html.ie8 ul.clients li .thumbnail {
	width:100%;
	height:auto;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.clients li .thumbnail {
		width:100%;
		height:auto;
	}
}
.hr {
	background:#fff;
	position:relative;
	height:1px;
	overflow:visible;
	margin:17px 0 46px 0;
	padding:0;
	border-top:1px solid #cbcac9;
	line-height:0;
	font-size:0;
}
.hr:before {
	background:#fff;
	width:100%;
	height:1px;
	overflow:hidden;
	border-top:1px solid #cbcac9;
	position:absolute;
	top:-1px;
	left:-99%;
	z-index:-1;
	content:'';
}
.hr:after {
	background:#fff;
	width:100%;
	height:1px;
	overflow:hidden;
	border-top:1px solid #cbcac9;
	position:absolute;
	top:-1px;
	right:-99%;
	z-index:-1;
	content:'';
}
.service-box {
	margin:0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
@media (max-width: 767px) {
	.service-box { margin:0 0 20px 0; }
}
.service-box h2 {
	margin:0 0 21px 0;
	padding:0 150px 0 0;
	letter-spacing:-1px;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.service-box h2 { padding:0; }
}
html.ie8 .service-box h2 { padding:0; }
@media (min-width: 768px) and (max-width: 979px) {
	.service-box h2 { padding:0; }
}
@media (max-width: 767px) {
	.service-box h2 { padding:0; }
}
.service-box h5 { margin:0 0 2px 0; }
.service-box .service-box_txt {
	line-height:20px;
	font-size:13px;
	color:#595858;
}
.service-box .service-box_txt em {
	display:block;
	margin:0 0 11px 0;
	line-height:18px;
	font-size:14px;
	font-style:normal;
	text-transform:uppercase;
	color:#4c4c4c;
}
.service-box .service-box_txt p { margin:0 0 20px 0; }
.service-box .btn-align {
	padding:2px 0 0 0;
	text-align:left;
}
figure.video_preview { margin:8px 0 0 0 !important; }
figure.video_preview div { padding:0; }
figure.video_preview div a img { max-height:325px; }
div.testimonials { padding:8px 0 0 0; }
div.testimonials .testi-item {
	margin:0 0 28px 0;
	padding:0;
}
div.testimonials .testi-item blockquote {
	background:url(images/quotes.png) no-repeat 0% 2px;
	margin:0;
	padding:0 0 0 40px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:21px;
	font-size:12px;
	color:#83868a;
}
div.testimonials .testi-item blockquote:before { display:none; }
div.testimonials .testi-item blockquote:after { display:none; }
div.testimonials .testi-item blockquote a {
	text-decoration:none;
	color:#83868a;
}
div.testimonials .testi-item blockquote a:hover {
	text-decoration:none;
	color:#b80b07;
}
div.testimonials .testi-item .testi-meta {
	padding:0;
	text-align:right;
	color:#000;
}
div.testimonials .testi-item .testi-meta br { display:none; }
div.testimonials .testi-item .testi-meta a { display:none; }
.footer {
	background:url(images/footer.jpg) repeat 50% 0%;
	position:relative;
	margin:0;
	padding:31px 0 30px 0;
	border:none;
	line-height:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	color:#b2b2b2;
}
@media (max-width: 767px) {
	.footer { padding:31px 20px 30px 20px; }
}
.footer:before {
	background:#1f2e32;
	display:block;
	width:100%;
	height:7px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	content:'';
}
.footer .indent_left { padding:0 0 0 100px; }
@media (min-width: 979px) and (max-width: 1200px) {
	.footer .indent_left { padding:0; }
}
html.ie8 .footer .indent_left { padding:0; }
@media (min-width: 768px) and (max-width: 979px) {
	.footer .indent_left { padding:0; }
}
@media (max-width: 767px) {
	.footer .indent_left { padding:0; }
}
.footer ul {
	margin:0;
	padding:0;
}
@media (max-width: 767px) {
	.footer ul { padding:0 0 10px 0; }
}
.footer ul li {
	background:url(images/marker.gif) no-repeat 0% 6px;
	margin:0 0 14px 0;
	padding:0 0 0 10px;
	list-style:none;
	line-height:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:700;
	text-transform:uppercase;
	color:#b2b2b2;
}
.footer ul li a {
	text-decoration:none;
	color:#b2b2b2;
}
.footer ul li a:hover {
	text-decoration:underline;
	color:#fff;
}
.footer ul li.current-menu-item a {
	text-decoration:underline;
	color:#fff;
}
.footer .textwidget { padding:13px 0 0 0; }
.footer .textwidget i {
	background:url(images/icon_home.png) no-repeat 0% 5px;
	display:block;
	position:relative;
	margin:0 0 19px 0;
	padding:0 0 0 31px;
	font-style:normal;
}
.footer .textwidget b {
	background:url(images/icon_tel.png) no-repeat 1px 5px;
	display:block;
	position:relative;
	padding:2px 0 0 36px;
	font-style:normal;
	font-weight:400;
}
.footer .footer-text {
	float:none;
	margin:34px 0 0 0;
	line-height:18px;
	font-size:11px;
	text-transform:uppercase;
	color:#fff;
}
@media (max-width: 767px) {
	.footer .footer-text {
		margin:30px 0 0 0;
		text-align:left;
	}
}
.footer .footer-text img {
	margin:1px 1px 0 0;
	vertical-align:top;
}
.footer .footer-text a {
	text-decoration:none;
	color:#fff;
}
.footer .footer-text a:hover {
	text-decoration:underline;
	color:#b2b2b2;
}
.footer .footer-nav { margin:30px 0 0 0; }
@media (max-width: 767px) {
	.footer .footer-nav { margin:20px 0 0 0; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer .footer-nav ul { text-align:left; }
}
@media (max-width: 767px) {
	.footer .footer-nav ul { text-align:left; }
}
.footer .footer-nav ul li { margin:0 14px 0 0; }
@media (min-width: 768px) and (max-width: 979px) {
	.footer .footer-nav ul li {
		margin:0 10px 0 0;
		padding-top:2px;
	}
}
@media (max-width: 767px) {
	.footer .footer-nav ul li { padding:2px 0 0 10px; }
}
.footer .footer-nav ul li.current-menu-item a {
	text-decoration:underline;
	color:#fff;
}
.footer .footer-nav ul li a:hover {
	text-decoration:underline;
	color:#fff;
}
#back-top-wrapper p#back-top { margin:0; }
#back-top-wrapper p#back-top a { width:42px; }
#back-top-wrapper p#back-top a:hover span { background-position:0% -43px; }
#back-top-wrapper p#back-top a span {
	background:url(images/up-arrow.png) no-repeat 0% 0%;
	width:42px;
	height:42px;
	margin:0;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
}
.thumbnail {
	padding:0;
	border:1px solid #ebe6e7;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.title-section {
	background:url(images/hero-unit.jpg) repeat 50% 0%;
	position:relative;
	margin:0 0 19px 0;
	padding:20px 0 25px 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:16px;
	font-size:14px;
	color:#3d3d3c;
}
.title-section:before {
	background:url(images/hero-unit.jpg) repeat 50% 0%;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:-99%;
	z-index:-1;
	content:'';
}
.title-section:after {
	background:url(images/hero-unit.jpg) repeat 50% 0%;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	right:-99%;
	z-index:-1;
	content:'';
}
.title-section h1 {
	margin:0 0 5px 0;
	text-transform:none;
}
.title-section ul {
	background:none;
	margin:0;
	padding:0;
}
.title-section ul li {
	line-height:20px;
	font-size:14px;
	font-weight:400;
	text-shadow:none;
	color:#3d3d3c;
}
.title-section ul li.divider { margin:0 14px; }
.title-section ul li.divider:after { content:'|'; }
.title-section ul li.active { color:#a40000; }
.title-section ul li a {
	text-decoration:none;
	color:#3d3d3c;
}
.title-section ul li a:hover {
	text-decoration:none;
	color:#a40000;
}
.post_meta {
	line-height:20px;
	font-size:12px;
	color:#000;
}
.post_meta i { color:#e85c41; }
.post-author {
	margin:0 0 70px 0;
	padding:30px;
	border:1px solid #d3d3d3;
}
.post-author h3 {
	margin:0 0 20px 0;
	line-height:18px;
	font-size:12px;
	font-weight:400;
	text-transform:none;
	color:#000;
}
.post-author .post-author_gravatar { margin:3px 20px 0 0; }
.post-author .post-author_gravatar img {
	background:none;
	padding:0;
}
.post-author .post-author_link p { margin:0; }
.related-posts { margin:0 0 60px 0; }
.related-posts ul li {
	line-height:21px;
	font-size:12px;
	color:#e85c41;
}
.related-posts ul li a {
	text-decoration:none;
	color:#e85c41;
}
.related-posts ul li a:hover {
	text-decoration:none;
	color:#343434;
}
ol.comment-list li .comment-body {
	background:none !important;
	padding:30px;
	border:1px solid #d3d3d3;
}
ol.comment-list li .comment-body .comment-author { margin:5px 20px 0 0; }
@media (max-width: 480px) {
	ol.comment-list li .comment-body .extra-wrap { overflow:visible; }
}
ol.comment-list li .comment-body span.author {
	padding:10px 0 0 0;
	line-height:21px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	text-align:left;
	color:#83868a;
}
ol.comment-list li .comment-body .reply { margin:0 0 0 30px; }
ol.comment-list li .comment-body .reply a {
	vertical-align:top;
	line-height:21px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	color:#e9584d;
}
ol.comment-list li .comment-body .comment-meta {
	line-height:21px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	color:#000;
}
.cancel-comment-reply { padding:0 0 8px 0; }
.wpcf7-form .wpcf7-not-valid-tip {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:30px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-form .wpcf7-not-valid-tip { padding:2px !important; }
}
.wpcf7-form .ajax-loader { margin:7px 0 0 0; }
.wpcf7-form .wpcf7-response-output {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.filter-wrapper { padding:13px 0 3px 0; }
.filter-wrapper strong {
	margin:0;
	padding:0;
	line-height:21px;
	font-size:12px;
	font-weight:400;
	color:#83868a;
}
.filter-wrapper ul li {
	margin:0 0 0 17px;
	padding:0;
	line-height:21px;
	font-size:12px;
	color:#83868a;
}
.filter-wrapper ul li.active a {
	background:none;
	margin:0;
	padding:0;
	text-decoration:none;
	color:#e9584d;
}
.filter-wrapper ul li.active a:focus {
	background:none;
	text-decoration:none;
	color:#e9584d;
}
.filter-wrapper ul li.active a:hover {
	background:none;
	text-decoration:none;
	color:#e9584d;
}
.filter-wrapper ul li a {
	background:none;
	margin:0;
	padding:0;
	line-height:21px;
	font-size:12px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	text-decoration:none;
	color:#83868a;
}
.filter-wrapper ul li a:hover {
	background:none;
	text-decoration:none;
	color:#e9584d;
}
ul#portfolio-grid li .thumbnail { margin:0 0 20px 0; }
ul#portfolio-grid li h3 {
	margin:0;
	line-height:21px;
	font-size:13px;
	font-weight:400;
	text-transform:none;
	color:#000;
}
ul#portfolio-grid li h3 a {
	text-decoration:none;
	color:#000;
}
ul#portfolio-grid li h3 a:hover {
	text-decoration:none;
	color:#e85c41;
}
ul#portfolio-grid li .excerpt { margin:0; }
ul#portfolio-grid li a.btn { display:none; }
ul.pager { margin-top:30px; }
ul.pager li a {
	background:url(images/btn.png) repeat-x 0% 0%;
	height:28px;
	margin:0 10px 2px 0;
	padding:8px 18px 0 18px;
	border:none;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	text-shadow:none;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
ul.pager li a:focus {
	background:url(images/btn.png) repeat-x 0% 0%;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	text-decoration:none;
	color:#fff;
}
ul.pager li a:hover {
	background-position:0% -37px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
	text-decoration:none;
	color:#fff;
}
.type-portfolio .thumbnail.large { margin:0; }
.faq-list h4 {
	margin:0;
	padding:0;
	border:none;
	line-height:18px;
	font-size:14px;
	text-transform:uppercase;
	color:#4c4c4c;
}
@media (max-width: 767px) {
	.error404-holder { text-align:center; }
}
.error404-holder .error404-holder_num { color:#b80b07; }
.error404-holder h4 {
	margin:0 0 18px 0;
	padding:0;
	border:none;
	line-height:18px;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
	color:#4c4c4c;
}
@media (max-width: 767px) {
	.error404-holder .search-form { margin:0 auto; }
}
.type-clients .thumbnail {
	background:none;
	float:left;
	margin:0 30px 10px 0;
	border:none;
}
.type-clients .thumbnail img { width:auto; }
html.ie8 .posts-grid li .thumbnail img { max-width:inherit; }
.page-header {
	margin:0;
	border:none;
}
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:31px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/*Other additional styles*/

.page-id-203 .title-section {
		display: none;
}

.header .logo .logo_tagline {
float: left;
margin: 19px 0 0 0;
font-size: 13px;
text-transform: uppercase;
color: rgba(113, 110, 110, 1);
font-family: serif;
}