/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,400italic,700);
@import url(//fonts.googleapis.com/css?family=Archivo+Narrow:700);

/* #General
================================================== */

body {
	background: #101719;

	@media (max-width: 767px) {
		padding: 0;
	}

}

.main-holder {

	input[type="text"], input[type="email"], textarea {
		background: none;
		min-height: 41px;
		margin: 0;
		padding: 10px 14px 10px 14px !important;
		border: 1px solid #d5d6d6;
		.border-radius(0);
		.box-shadow(none);
		.box-sizing(border-box);
		resize: none;
		font-family: @UbuntuFontFamily;
		font-size: 12px;
		font-weight: 400;
		color: #83868a;

		html.ie8 & {
			min-height: 19px;
			line-height: 19px;
		}

	}

	input[type="text"], input[type="email"] {

		html.ie8 & {
			height: 41px;
		}

	}

	input[type="submit"], input[type="reset"] {
		background: url(images/btn.png) repeat-x 0% 0%;
		height: 36px;
		margin: 0 10px 0 0;
		padding: 0 18px 0 18px;
		border: none;
		.border-radius(8px);
		.box-shadow(1px 1px 2px rgba(0,0,0,.3));
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;

		&:focus {
			background: url(images/btn.png) repeat-x 0% 0%;
			.box-shadow(1px 1px 2px rgba(0,0,0,.3));
			.transition(none);
			color: #fff;
		}

		&:hover {
			background-position: 0% -37px;
			.box-shadow(1px 1px 2px rgba(0,0,0,.3));
			.transition(none);
			color: #fff;
		}

	}

	.search-form {
		background: url(images/search.png) repeat 0% 0%;
		width: 217px;
		height: 22px;
		padding: 1px;
		border: 1px solid #cccfd3;
		.border-radius(8px);

		input[type="text"] {
			float: left;
			width: 170px;
			min-height: 22px;
			padding: 2px 10px 2px 10px !important;
			border: none;
		}

		input[type="submit"] {
			background: url(images/submit.png) no-repeat 0% 0%;
			float: left;
			width: 46px;
			height: 22px;
			margin: 0;
			padding: 0;
			.border-radius(0);
			.box-shadow(none);
			line-height: 0;
			font-size: 0;

			&:hover {
				background-position: 0% -23px;
			}

		}

	}

}

h1 {
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: #343434;

		&:hover {
			text-decoration: none;
			color: #b80b07;
		}

	}

}

h2 {
	margin-bottom: 33px;
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: #343434;

		&:hover {
			text-decoration: none;
			color: #b80b07;
		}

	}

}

h3 {
	margin-bottom: 34px;
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: #343434;

		&:hover {
			text-decoration: none;
			color: #b80b07;
		}

	}

}

h4 {
	margin-bottom: 15px;
	padding: 0 0 13px 0;
	border-bottom: 4px solid #b80b07;
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: #fff;

		&:hover {
			text-decoration: none;
			color: #b80b07;
		}

	}

}

h5 {
	text-transform: uppercase;
}

h6 {
	letter-spacing: -1px;

	strong {
		display: block;
		letter-spacing: normal;
		line-height: 18px;
		font-size: 12px;
		font-weight: 400;
		color: #4e4e4e;
	}

}

p {
	margin: 0 0 21px 0;
}

/* #Header
================================================== */

.header {
	background: url(images/header.jpg) repeat 0% 0%;
	margin: 0;
	padding: 28px 0 17px 0;
	border: none;

	@media (max-width: 767px) {
		padding: 28px 20px 17px 20px;
	}

	.container {
		background: url(images/header_line.jpg) repeat-x 0% 100%;

		@media (max-width: 767px) {
			padding: 0 20px;
		}

	}

	.logo {
		margin: 23px 0 0 -1px;

		html.ie8 & {
			margin: 10px 0 0 0;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			width: 100%;
			margin: 10px 0 0 0;
		}

		@media (max-width: 767px) {
			float: none;
			margin: 0 0 20px 0;
			text-align: center;
		}

		img {
			float: left;
			margin: 0 4px 0 0;

			html.ie8 & {
				float: none;
				margin: 0;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				float: none;
			}

			@media (max-width: 767px) {
				float: none;
				margin: 0;
			}

		}

		.logo_h__txt {
			float: left;
			margin: -9px 4px 0 0;
			letter-spacing: -2px;
			text-transform: uppercase;

			@media (min-width: 768px) and (max-width: 979px) {
				float: none;
			}

			@media (max-width: 767px) {
				float: none;
				margin: -9px 0 0 0;
			}

			a {
				text-decoration: none;

				@media (max-width: 480px) {
					font-size: 38px;
				}

				&:focus {
					text-decoration: none;
					color: #1d1d1d;
				}

				&:hover {
					text-decoration: none;
					color: #1d1d1d;
				}

			}

		}

		.logo_tagline {
			float: left;
			margin: 19px 0 0 0;
			font-size: 11px;
			text-transform: uppercase;
			color: #2c2c2c;

			html.ie8 & {
				float: none;
				margin: 0;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				float: none;
				margin: 0;
			}

			@media (max-width: 767px) {
				float: none;
				margin: 0;
			}

		}

	}

	.header_widget {
		width: 100%;
		overflow: hidden;
		margin: 0 0 16px 0;
		padding: 5px 0 0 0;
		text-align: right;

		@media (max-width: 767px) {
			text-align: center;
		}

		h4 {
			display: inline-block;
			margin: 0;
			padding: 0;
			border: none;
			vertical-align: top;
			line-height: 18px;
			font-family: @ArchivoFontFamily;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: #141414;
		}

		.textwidget {
			float: right;
			margin: 0 0 0 5px;
			letter-spacing: 1px;
			line-height: 18px;
			font-family: @ArchivoFontFamily;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: #141414;

			@media (max-width: 767px) {
				display: inline-block;
				float: none;
				vertical-align: top;
			}

			i {
				background: url(images/icon_phone.png) no-repeat 0% 0%;
				float: right;
				width: 26px;
				height: 26px;
				overflow: hidden;
				margin: -5px 0 0 7px;
			}

		}

	}

	.search-form {
		float: right;
	}

	.nav__primary {
		margin: 13px 0 16px 63px;

		@media (min-width: 979px) and (max-width: 1200px) {
			margin: 13px 0 16px 6px;
		}

		html.ie8 & {
			margin: 13px 0 16px 6px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			margin: 13px 0 16px 8px;
		}

		@media (max-width: 767px) {
			margin: 0 0 16px 0;
		}

		.sf-menu {
			float: left;

			ul {
				background: #2c2c2c;
				width: 87px;
				padding: 30px 10px 16px 19px;
			}

			> li {
				background: url(images/menu_divider.gif) no-repeat 100% 0%;
				padding: 0 7px;

				@media (min-width: 768px) and (max-width: 979px) {
					padding: 0 5px;
				}

				> a {
					padding: 7px 17px 6px 17px;
					border: none;
					.border-radius(6px);
					text-transform: uppercase;
					text-decoration: none;

					@media (min-width: 768px) and (max-width: 979px) {
						padding: 7px 9px 6px 9px;
					}

				}

				li {
					background: none;
					margin: 0 0 16px 0;
					text-align: left;

					a {
						padding: 0;
						border: none;
						line-height: 18px;
						font-family: Arial, Helvetica, sans-serif;
						font-size: 12px;
						text-transform: uppercase;
						text-decoration: none;
						color: #fff;
					}

					.sf-sub-indicator {
						display: none;
					}

				}

			}

		}

		.sf-menu li:hover ul, .sf-menu li.sfHover ul {
			margin: 0 0 0 -58px;
			top: 47px;
			left: 50%;
		}

		ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
			background: #b80b07;
			margin: 0;
			top: -30px;
			left: 97px;
		}

		.sf-menu > li > a:hover, .sf-menu > li.sfHover> a, .sf-menu > li.current-menu-item > a, .sf-menu > li.current_page_item > a { background: url(images/menu_act.gif) repeat-x 0% 0%; .sf-sub-indicator {display: none;} }
		.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current-menu-item > a, .sf-menu li li.current_page_item > a { background: none; color: #8e8e8e; }
		.sf-menu li li li > a:hover, .sf-menu li li li.sfHover > a, .sf-menu li li li.current-menu-item > a, .sf-menu li li li.current_page_item > a { background: none; color: #000; }

		.sf-sub-indicator {
			background: url(images/arrows-ffffff.png) no-repeat 0% 0%;
			width: 7px;
			height: 4px;
			margin: 0 -3px 0 0;
			top: 28px;
			right: 50%;
		}

	}

	.social-nets-wrapper {
		text-align: right;

		@media (max-width: 767px) {
			margin: 0 0 12px 0;
			padding: 12px 0 0 0;
			text-align: center;
		}

		ul {
			margin: 12px 22px 0 0;
			padding: 0;

			@media (min-width: 979px) and (max-width: 1200px) {
				margin: 12px 12px 0 0;
			}

			html.ie8 & {
				margin: 12px 12px 0 0;
			}

			@media (max-width: 767px) {
				margin: 0;
			}

			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				margin: 0 0 0 4px;
				vertical-align: top;

				a {
					.transition(0.3s);

					&:hover {
						.opacity(50);
					}

				}

			}

		}

	}

	.spacer {
		height: 21px;

		@media (max-width: 767px) {
			display: none;
		}

	}

}

/*/ Header */


/* Slider
---------------------------------------- */

#slider-wrapper {
	background: url(images/slider.gif) repeat 50% 0%;
	padding: 53px 0 12px 0;

	@media (min-width: 979px) and (max-width: 1200px) {
		padding: 53px 0 33px 0;
	}

	html.ie8 & {
		padding: 53px 0 33px 0;
	}

	@media (min-width: 768px) and (max-width: 979px) {
		padding: 53px 0 33px 0;
	}

	@media (max-width: 767px) {
		padding: 53px 20px 33px 20px;
	}

	&:before {
		background: url(images/slider_line.jpg) repeat-x 0% 0%;
		display: block;
		width: 100%;
		height: 20px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}

	.container {

		.camera_wrap {
			margin: 0 !important;
		}

		.camera_caption {
			width: 410px;
			line-height: 18px;
			font-size: 12px;
			text-transform: uppercase;
			color: #fff;
			position: absolute;
			top: 102px;
			left: 77px;

			@media (min-width: 979px) and (max-width: 1200px) {
				width: 350px;
				top: 60px;
				left: 50px;
			}

			html.ie8 & {
				width: 350px;
				top: 60px;
				left: 50px;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 300px;
				text-transform: none;
				top: 30px;
				left: 30px;
			}

			@media (max-width: 767px) {
				width: 200px;
				top: 20px;
			}

			@media (max-width: 480px) {
				width: 125px;
				top: 10px;
				left: 60px;
			}

			div {
				background: none;
				padding: 0;

				strong {
					display: block;
					margin: 0 0 -5px 0;
					line-height: 50px;
					font-size: 50px;
					font-weight: 700;
					text-transform: uppercase;
					color: #b80b07;

					@media (min-width: 979px) and (max-width: 1200px) {
						margin: 0;
						line-height: 40px;
						font-size: 40px;
					}

					html.ie8 & {
						margin: 0;
						line-height: 40px;
						font-size: 40px;
					}

					@media (min-width: 768px) and (max-width: 979px) {
						margin: 0;
						line-height: 30px;
						font-size: 30px;
					}

					@media (max-width: 767px) {
						margin: 0;
						line-height: 20px;
						font-size: 20px;
					}

					@media (max-width: 480px) {
						line-height: 12px;
						font-size: 12px;
					}

				}

				em {
					display: block;
					margin: 0 0 15px 0;
					line-height: 30px;
					font-size: 36px;
					font-style: normal;
					text-transform: uppercase;
					color: #fff;

					@media (min-width: 979px) and (max-width: 1200px) {
						line-height: 24px;
						font-size: 30px;
					}

					html.ie8 & {
						line-height: 24px;
						font-size: 30px;
					}

					@media (min-width: 768px) and (max-width: 979px) {
						line-height: 20px;
						font-size: 20px;
					}

					@media (max-width: 767px) {
						line-height: 20px;
						font-size: 20px;
						text-transform: lowercase;
					}

					@media (max-width: 480px) {
						line-height: 12px;
						font-size: 12px;
					}

				}

				p {
					margin: 0 0 13px 0;

					@media (max-width: 767px) {
						display: none;
					}

				}

				a {
					background: url(images/button.gif) repeat-x 0% 0%;
					display: inline-block;
					height: 29px;
					margin: 0;
					padding: 10px 36px 0 36px;
					vertical-align: top;
					.border-radius(6px);
					.box-shadow(0 3px 3px rgba(0,0,0,.3));
					font-size: 14px;
					text-transform: uppercase;
					text-decoration: none;
					color: #fff;

					@media (max-width: 480px) {
						height: auto;
						padding: 5px 10px;
						font-size: 12px;
					}

					&:hover {
						background: #003840;
					}

				}

			}

		}

		.camera_prev {
			background: none;
			width: 25px;
			height: 41px;
			margin-top: -21px;
			left: -45px;

			@media (max-width: 767px) {
				left: 21px;
			}

			span {
				background: url(images/prev.png) no-repeat 0% 0%;
				width: 25px;
				height: 41px;
				overflow: hidden;

				&:hover {
					background-position: 0% -42px;
				}

			}

		}

		.camera_next {
			background: none;
			width: 25px;
			height: 41px;
			margin-top: -21px;
			right: -45px;

			@media (max-width: 767px) {
				right: 21px;
			}

			span {
				background: url(images/next.png) no-repeat 0% 0%;
				width: 25px;
				height: 41px;
				overflow: hidden;

				&:hover {
					background-position: 0% -42px;
				}

			}

		}

		.camera_pag {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.camera_thumbs {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;

			.camera_thumbs_cont {
				background: none;
			}

		}

	}

}

/*/ Slider */



/* #Content
================================================== */

.content-holder {
	background: url(images/content.jpg) repeat 50% 0%;
	overflow: hidden;
	margin: 0;
	padding: 0 0 60px 0;

	@media (max-width: 767px) {
		padding: 0 20px 60px 20px;
	}

	body.home & {
		padding: 0;

		@media (max-width: 767px) {
			padding: 0 20px;
		}

	}

}

/*/ Content */



/* #Comments
================================================== */

/*/ Comments */



/* #Widgets
================================================== */

#sidebar {

	.widget {
		margin-bottom: 45px;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			background: url(images/marker_1.gif) no-repeat 0% 15px;
			margin: 0;
			padding: 10px 0 11px 16px;
			border-top: 1px solid #d1d1d1;
			list-style: none;
			line-height: 18px;
			font-size: 13px;
			font-style: italic;
			color: #83868a;

			&:first-child {
				border: none;
			}

			&:before {
				display: none;
			}

			ul {
				margin: 10px 0 -11px 0;
				border-top: 1px solid #d1d1d1;
			}

			a {
				text-decoration: none;
				color: #83868a;

				&:hover {
					text-decoration: none;
					color: #b80b07;
				}

			}

		}

	}

	#wp-calendar {

		caption {
			color: #a40000;
		}

		thead {

			tr {

				th {
					color: #a40000;
				}

			}

		}

	}

}

/*/ Widgets */



/* #Shortcodes
================================================== */

.hero-unit {
	background: url(images/hero-unit.jpg) repeat 50% 0%;
	position: relative;
	margin: 0;
	padding: 45px 270px 36px 0;
	.border-radius(0);
	line-height: 16px;
	font-size: 14px;
	color: #3d3d3c;

	@media (max-width: 767px) {
		padding: 45px 0 36px 0;
	}

	&:before {
		background: url(images/hero-unit.jpg) repeat 50% 0%;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: -99%;
		z-index: -1;
		content: '';
	}

	&:after {
		background: url(images/hero-unit.jpg) repeat 50% 0%;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: -99%;
		z-index: -1;
		content: '';
	}

	h1 {
		margin: 0 0 8px 0;
		letter-spacing: normal;
		line-height: 36px;
		font-size: 30px;
		font-weight: 700;
		text-transform: none;
		color: #202020;

		span {
			color: #b80b07;
		}

		@media (max-width: 480px) {
			line-height: 26px;
			font-size: 20px;
		}

	}

	.btn-align {
		position: absolute;
		top: 80px;
		right: 0;

		@media (max-width: 767px) {
			position: relative;
			top: auto;
			right: auto;
		}

		a.btn-primary {
			background: url(images/button.gif) repeat-x 0% 0%;
			display: inline-block;
			height: 30px;
			margin: 0;
			padding: 9px 30px 0 30px;
			vertical-align: top;
			.border-radius(6px);
			.box-shadow(0 3px 3px rgba(0,0,0,.3));
			text-decoration: none;
			font-size: 14px;
			color: #fff;

			&:hover {
				background: #003840;
			}

		}

	}

}

a.btn-link {
	background: url(images/arrow.gif) no-repeat 100% 8px;
	margin: 0;
	padding: 0 15px 0 0;
	line-height: 21px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #e85c41;

	@media (max-width: 767px) {
		margin: 0 0 20px 0;
	}

	&:focus {
		background: url(images/arrow.gif) no-repeat 100% 8px;
		text-decoration: none;
		color: #e85c41;
	}

	&:hover {
		background: url(images/arrow.gif) no-repeat 100% 8px;
		text-decoration: none;
		color: #b80b07;
	}

}

a.btn-primary {
	background: url(images/btn.png) repeat-x 0% 0%;
	height: 28px;
	margin: 0 10px 2px 0;
	padding: 8px 18px 0 18px;
	border: none;
	.border-radius(8px);
	.box-shadow(1px 1px 2px rgba(0,0,0,.3));
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	&:focus {
		background: url(images/btn.png) repeat-x 0% 0%;
		.box-shadow(1px 1px 2px rgba(0,0,0,.3));
		.transition(none);
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		background-position: 0% -37px;
		.box-shadow(1px 1px 2px rgba(0,0,0,.3));
		.transition(none);
		text-decoration: none;
		color: #fff;
	}

}

.box {
	background: url(images/box.jpg) repeat 50% 0%;
	position: relative;
	margin: 0 0 59px 0;
	padding: 38px 0 33px 0;

	@media (max-width: 767px) {
		margin: 0 0 30px 0;
	}

	&:before {
		background: url(images/box.jpg) repeat 50% 0%;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: -99%;
		z-index: -1;
		content: '';
	}

	&:after {
		background: url(images/box.jpg) repeat 50% 0%;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: -99%;
		z-index: -1;
		content: '';
	}

}

.box_1 {
	background: #fff;
	position: relative;
	margin: 38px 0 0 0;
	padding: 17px 0 27px 0;
	border-top: 1px solid #ebebeb;

	&:before {
		background: #fff;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-top: 1px solid #ebebeb;
		position: absolute;
		top: 0;
		left: -99%;
		z-index: -1;
		content: '';
	}

	&:after {
		background: #fff;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-top: 1px solid #ebebeb;
		position: absolute;
		top: 0;
		right: -99%;
		z-index: -1;
		content: '';
	}

	h6 {

		br {

			@media (max-width: 767px) {
				letter-spacing: normal;
				display: none;
			}

		}

	}

}

.banner-wrap {
	position: relative;
	padding: 27px 25px 22px 26px;
	border: 1px solid #d6d6d6;
	line-height: 18px;
	font-size: 12px;
	color: #4e4e4e;

	@media (min-width: 768px) and (max-width: 979px) {
		padding: 27px 15px 15px 15px;
	}

	@media (max-width: 767px) {
		width: 100%;
		overflow: hidden !important;
		margin: 0 0 40px 0 !important;
		.box-sizing(border-box);
	}

	@media (max-width: 480px) {
		overflow: visible !important;
	}

	&:hover {
		background: #b80b07;
		border-color: #b80b07;
		color: #fff;

		h5 {
			color: #fff;
		}

		.banner-btn {

			a {
				background-position: 0% -37px;
			}

		}

	}

	.featured-thumbnail {
		margin: 0 0 13px 0;

		@media (max-width: 767px) {
			float: left;
			margin: 0 20px 0 0;
		}

		@media (max-width: 480px) {
			float: none;
			margin: 0 0 13px 0;
		}

		a {
			border: 1px solid #e6e4e6;

			@media (min-width: 979px) and (max-width: 1200px) {
				width: 100%;
				height: auto;
			}

			html.ie8 & {
				width: 100%;
				height: auto;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 100%;
				height: auto;
			}

		}

	}

	h5 {
		margin: 0 0 9px 0;
		letter-spacing: -1px;
		line-height: 21px;
		font-size: 24px;
		color: #343434;

		@media (min-width: 979px) and (max-width: 1200px) {
			line-height: 16px;
			font-size: 16px;
		}

		html.ie8 & {
			line-height: 16px;
			font-size: 16px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			line-height: 16px;
			font-size: 16px;
		}

	}

	p {
		margin: 0 0 17px 0;
	}

	.banner-btn {

		a {
			background: url(images/btn.png) repeat-x 0% 0%;
			height: 28px;
			margin: 0 10px 2px 0;
			padding: 8px 18px 0 18px;
			border: none;
			.border-radius(8px);
			.box-shadow(1px 1px 2px rgba(0,0,0,.3));
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-weight: 400;
			text-shadow: none;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;

			&:focus {
				background: url(images/btn.png) repeat-x 0% 0%;
				.box-shadow(1px 1px 2px rgba(0,0,0,.3));
				.transition(none);
				text-decoration: none;
				color: #fff;
			}

			&:hover {
				background-position: 0% -37px;
				.box-shadow(1px 1px 2px rgba(0,0,0,.3));
				.transition(none);
				text-decoration: none;
				color: #fff;
			}

		}

	}

	&:before {

		@media (max-width: 767px) {
			display: none !important;
		}

		@media (max-width: 480px) {
			display: block !important;
		}

	}

	&.icon_1 {
		margin: 0;
		overflow: visible;

		&:before {
			background: url(images/icon_1.png) no-repeat 0% 0%;
			display: block;
			width: 54px;
			height: 54px;
			overflow: hidden;
			margin: 0 0 0 -27px;
			position: absolute;
			top: -26px;
			left: 50%;
			content: '';
		}

	}

	&.icon_2 {
		margin: 0;
		overflow: visible;

		&:before {
			background: url(images/icon_2.png) no-repeat 0% 0%;
			display: block;
			width: 54px;
			height: 54px;
			overflow: hidden;
			margin: 0 0 0 -27px;
			position: absolute;
			top: -26px;
			left: 50%;
			content: '';
		}

	}

	&.icon_3 {
		margin: 0;
		overflow: visible;

		&:before {
			background: url(images/icon_3.png) no-repeat 0% 0%;
			display: block;
			width: 54px;
			height: 54px;
			overflow: hidden;
			margin: 0 0 0 -27px;
			position: absolute;
			top: -26px;
			left: 50%;
			content: '';
		}

	}

	&.icon_4 {
		margin: 0;
		overflow: visible;

		&:before {
			background: url(images/icon_4.png) no-repeat 0% 0%;
			display: block;
			width: 54px;
			height: 54px;
			overflow: hidden;
			margin: 0 0 0 -27px;
			position: absolute;
			top: -26px;
			left: 50%;
			content: '';
		}

	}

}

.list {

	&.arrow-list {
		margin: 0 0 10px 0;

		ul {
			margin: 0;
			padding: 0;

			li {
				background: url(images/marker_1.gif) no-repeat 0% 15px;
				margin: 0;
				padding: 10px 0 11px 16px;
				border-top: 1px solid #d1d1d1;
				list-style: none;
				line-height: 18px;
				font-size: 13px;
				font-style: italic;
				color: #83868a;

				&:first-child {
					border: none;
				}

				&:before {
					display: none;
				}

				a {
					text-decoration: none;
					color: #83868a;

					&:hover {
						text-decoration: none;
						color: #b80b07;
					}

				}

			}

		}

	}

	&.custom-list {
		padding: 8px 0 0 0;

		ul {
			margin: 0;
			padding: 0;

			li {
				margin: 0;
				padding: 28px 0 5px 0;
				border-top: 1px solid #d1d1d1;
				line-height: 21px;
				font-size: 12px;
				color: #83868a;

				&:first-child {
					padding: 0 0 5px 0;
					border: none;
				}

				&:before {
					display: none;
				}

				em {
					float: left;
					margin: 0 30px 10px 0;
					line-height: 40px;
					font-size: 40px;
					font-weight: 700;
					font-style: normal;
					color: #343434;
				}

				strong {
					display: block;
					overflow: hidden;
					padding: 1px 0 1px 0;
					font-size: 14px;
					font-weight: 700;
					color: #b80b07;
				}

			}

		}

	}

}

ul.news {
	margin: 0 !important;
	padding: 9px 0 13px 0;

	li {
		position: relative;
		margin: 0 0 5px 0;
		padding: 51px 0 0 0;
		border-top: 1px solid #d1d1d1;
		line-height: 21px;
		font-size: 12px;
		color: #83868a;

		&:first-child {
			padding: 21px 0 0 0;
			border: none;

			.meta {
				top: 0;
			}

		}

		.meta {
			display: block;
			line-height: 21px;
			font-size: 14px;
			font-weight: 700;
			text-transform: none;
			color: #b80b07;
			position: absolute;
			top: 29px;
			left: 0;

			.post-comments {
				display: none;
			}

		}

		h5 {
			display: inline;
			margin: 0 3px 0 0;
			line-height: 21px;
			font-size: 13px;
			text-transform: none;
			color: #1b1b1b;

			a {
				text-decoration: none;
				color: #1b1b1b;

				&:hover {
					text-decoration: none;
					color: #b80b07;
				}

			}

		}

		.excerpt {
			display: inline;
		}

	}

}

ul.team {
	padding: 13px 0 0 0;

	li {

		@media (min-width: 1200px) and (max-width: 2600px) {
			max-width: 172px !important;
			margin-left: 27px !important;
		}

		@media (max-width: 767px) {
			width: 100%;
			overflow: hidden;
		}

		&:first-child {
			margin-left: 0 !important;
		}

		.thumbnail {
			margin: 0 0 20px 0;

			@media (max-width: 767px) {
				margin: 0 20px 0 0;
			}

		}

		.clear {

			@media (max-width: 767px) {
				display: none;
			}

		}

		h5 {
			margin: 0;
			line-height: 21px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			text-transform: none;
			color: #000;

			a {
				text-decoration: none;
				color: #000;

				&:hover {
					text-decoration: none;
					color: #e85c41;
				}

			}

		}

	}

}

ul.clients {
	margin: 0 !important;
	padding: 11px 0 0 0;

	li {
		display: inline-block;
		width: 170px;
		margin-bottom: 0;
		margin-left: 30px;
		vertical-align: top;

		@media (min-width: 979px) and (max-width: 1200px) {
			width: 140px;
			margin-left: 20px;
		}

		html.ie8 & {
			width: 140px;
			margin-left: 20px;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			width: 104px;
			margin-left: 20px;
		}

		@media (max-width: 767px) {
			width: auto;
			margin: 10px 20px 10px 0;
		}

		&:first-child {
			margin-left: 0;

			html.ie8 & {
				margin-left: 0;
			}

		}

		h5 {
			display: none;
		}

		.thumbnail {
			background: none;
			margin: 0;
			border: none;

			@media (min-width: 979px) and (max-width: 1200px) {
				width: 100%;
				height: auto;
			}

			html.ie8 & {
				width: 100%;
				height: auto;
			}

			@media (min-width: 768px) and (max-width: 979px) {
				width: 100%;
				height: auto;
			}

		}

	}

}

.hr {
	background: #fff;
	position: relative;
	height: 1px;
	overflow: visible;
	margin: 17px 0 46px 0;
	padding: 0;
	border-top: 1px solid #cbcac9;
	line-height: 0;
	font-size: 0;

	&:before {
		background: #fff;
		width: 100%;
		height: 1px;
		overflow: hidden;
		border-top: 1px solid #cbcac9;
		position: absolute;
		top: -1px;
		left: -99%;
		z-index: -1;
		content: '';
	}

	&:after {
		background: #fff;
		width: 100%;
		height: 1px;
		overflow: hidden;
		border-top: 1px solid #cbcac9;
		position: absolute;
		top: -1px;
		right: -99%;
		z-index: -1;
		content: '';
	}

}

.service-box {
	margin: 0;
	padding: 0;
	border: none;
	.border-radius(0);
	.box-shadow(none);

	@media (max-width: 767px) {
		margin: 0 0 20px 0;
	}

	h2 {
		margin: 0 0 21px 0;
		padding: 0 150px 0 0;
		letter-spacing: -1px;

		@media (min-width: 979px) and (max-width: 1200px) {
			padding: 0;
		}

		html.ie8 & {
			padding: 0;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			padding: 0;
		}

		@media (max-width: 767px) {
			padding: 0;
		}

	}

	h5 {
		margin: 0 0 2px 0;
	}

	.service-box_txt {
		line-height: 20px;
		font-size: 13px;
		color: #595858;

		em {
			display: block;
			margin: 0 0 11px 0;
			line-height: 18px;
			font-size: 14px;
			font-style: normal;
			text-transform: uppercase;
			color: #4c4c4c;
		}

		p {
			margin: 0 0 20px 0;
		}

	}

	.btn-align {
		padding: 2px 0 0 0;
		text-align: left;
	}

}

figure.video_preview {
	margin: 8px 0 0 0 !important;

	div {
		padding: 0;

		a {

			img {
				max-height: 325px;
			}

		}

	}

}

div.testimonials {
	padding: 8px 0 0 0;

	.testi-item {
		margin: 0 0 28px 0;
		padding: 0;

		blockquote {
			background: url(images/quotes.png) no-repeat 0% 2px;
			margin: 0;
			padding: 0 0 0 40px;
			.border-radius(0);
			line-height: 21px;
			font-size: 12px;
			color: #83868a;

			&:before {
				display: none;
			}

			&:after {
				display: none;
			}

			a {
				text-decoration: none;
				color: #83868a;

				&:hover {
					text-decoration: none;
					color: #b80b07;
				}

			}

		}

		.testi-meta {
			padding: 0;
			text-align: right;
			color: #000;

			br {
				display: none;
			}

			a {
				display: none;
			}

		}

	}

}

/*/ Shortcodes */



/* #Footer
================================================== */

.footer {
	background: url(images/footer.jpg) repeat 50% 0%;
	position: relative;
	margin: 0;
	padding: 31px 0 30px 0;
	border: none;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #b2b2b2;

	@media (max-width: 767px) {
		padding: 31px 20px 30px 20px;
	}

	&:before {
		background: #1f2e32;
		display: block;
		width: 100%;
		height: 7px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}

	.indent_left {
		padding: 0 0 0 100px;

		@media (min-width: 979px) and (max-width: 1200px) {
			padding: 0;
		}

		html.ie8 & {
			padding: 0;
		}

		@media (min-width: 768px) and (max-width: 979px) {
			padding: 0;
		}

		@media (max-width: 767px) {
			padding: 0;
		}

	}

	ul {
		margin: 0;
		padding: 0;

		@media (max-width: 767px) {
			padding: 0 0 10px 0;
		}

		li {
			background: url(images/marker.gif) no-repeat 0% 6px;
			margin: 0 0 14px 0;
			padding: 0 0 0 10px;
			list-style: none;
			line-height: 16px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: 700;
			text-transform: uppercase;
			color: #b2b2b2;

			a {
				text-decoration: none;
				color: #b2b2b2;

				&:hover {
					text-decoration: underline;
					color: #fff;
				}

			}

			&.current-menu-item {

				a {
					text-decoration: underline;
					color: #fff;
				}

			}

		}

	}

	.textwidget {
		padding: 13px 0 0 0;

		i {
			background: url(images/icon_home.png) no-repeat 0% 5px;
			display: block;
			position: relative;
			margin: 0 0 19px 0;
			padding: 0 0 0 31px;
			font-style: normal;
		}

		b {
			background: url(images/icon_tel.png) no-repeat 1px 5px;
			display: block;
			position: relative;
			padding: 2px 0 0 36px;
			font-style: normal;
			font-weight: 400;
		}

	}

	.footer-text {
		float: none;
		margin: 34px 0 0 0;
		line-height: 18px;
		font-size: 11px;
		text-transform: uppercase;
		color: #fff;

		@media (max-width: 767px) {
			margin: 30px 0 0 0;
			text-align: left;
		}

		img {
			margin: 1px 1px 0 0;
			vertical-align: top;
		}

		a {
			text-decoration: none;
			color: #fff;

			&:hover {
				text-decoration: underline;
				color: #b2b2b2;
			}

		}

	}

	.footer-nav {
		margin: 30px 0 0 0;

		@media (max-width: 767px) {
			margin: 20px 0 0 0;
		}

		ul {

			@media (min-width: 768px) and (max-width: 979px) {
				text-align: left;
			}

			@media (max-width: 767px) {
				text-align: left;
			}

			li {
				margin: 0 14px 0 0;

				@media (min-width: 768px) and (max-width: 979px) {
					margin: 0 10px 0 0;
					padding-top: 2px;
				}

				@media (max-width: 767px) {
					padding: 2px 0 0 10px;
				}

				&.current-menu-item {

					a {
						text-decoration: underline;
						color: #fff;
					}

				}

				a {

					&:hover {
						text-decoration: underline;
						color: #fff;
					}

				}

			}

		}

	}

}

/*/ Footer */


/* #Misc
================================================== */

#back-top-wrapper {

	p#back-top {
		margin: 0;

		a {
			width: 42px;

			&:hover {

				span {
					background-position: 0% -43px;
				}

			}

			span {
				background: url(images/up-arrow.png) no-repeat 0% 0%;
				width: 42px;
				height: 42px;
				margin: 0;
				.transition(none);
			}

		}

	}

}

.thumbnail {
	padding: 0;
	border: 1px solid #ebe6e7;
	.border-radius(0);
	.box-shadow(none);
}

.title-section {
	background: url(images/hero-unit.jpg) repeat 50% 0%;
	position: relative;
	margin: 0 0 19px 0;
	padding: 20px 0 25px 0;
	.border-radius(0);
	line-height: 16px;
	font-size: 14px;
	color: #3d3d3c;

	&:before {
		background: url(images/hero-unit.jpg) repeat 50% 0%;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: -99%;
		z-index: -1;
		content: '';
	}

	&:after {
		background: url(images/hero-unit.jpg) repeat 50% 0%;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: -99%;
		z-index: -1;
		content: '';
	}

	h1 {
		margin: 0 0 5px 0;
		text-transform: none;
	}

	ul {
		background: none;
		margin: 0;
		padding: 0;

		li {
			line-height: 20px;
			font-size: 14px;
			font-weight: 400;
			text-shadow: none;
			color: #3d3d3c;

			&.divider {
				margin: 0 14px;

				&:after {
					content: '|';
				}

			}

			&.active {
				color: #a40000;
			}

			a {
				text-decoration: none;
				color: #3d3d3c;

				&:hover {
					text-decoration: none;
					color: #a40000;
				}

			}

		}

	}

}

.post_meta {
	line-height: 20px;
	font-size: 12px;
	color: #000;

	i {
		color: #e85c41;
	}

}

.post-author {
	margin: 0 0 70px 0;
	padding: 30px;
	border: 1px solid #d3d3d3;

	h3 {
		margin: 0 0 20px 0;
		line-height: 18px;
		font-size: 12px;
		font-weight: 400;
		text-transform: none;
		color: #000;
	}

	.post-author_gravatar {
		margin: 3px 20px 0 0;

		img {
			background: none;
			padding: 0;
		}

	}

	.post-author_link {

		p {
			margin: 0;
		}

	}

}

.related-posts {
	margin: 0 0 60px 0;

	ul {

		li {
			line-height: 21px;
			font-size: 12px;
			color: #e85c41;

			a {
				text-decoration: none;
				color: #e85c41;

				&:hover {
					text-decoration: none;
					color: #343434;
				}

			}

		}

	}

}

ol.comment-list {

	li {

		.comment-body {
			background: none !important;
			padding: 30px;
			border: 1px solid #d3d3d3;

			.comment-author {
				margin: 5px 20px 0 0;
			}

			.extra-wrap {

				@media (max-width: 480px) {
					overflow: visible;
				}

			}

			span.author {
				padding: 10px 0 0 0;
				line-height: 21px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 12px;
				font-weight: 400;
				text-align: left;
				color: #83868a;
			}

			.reply {
				margin: 0 0 0 30px;

				a {
					vertical-align: top;
					line-height: 21px;
					font-family: Arial, Helvetica, sans-serif;
					font-size: 12px;
					font-weight: 400;
					color: #e9584d;
				}

			}

			.comment-meta {
				line-height: 21px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 12px;
				font-weight: 400;
				color: #000;
			}

		}

	}

}

.cancel-comment-reply {
	padding: 0 0 8px 0;
}

.wpcf7-form {

	.wpcf7-not-valid-tip {
		.border-radius(0);
		line-height: 30px;

		@media (min-width: 768px) and (max-width: 979px) {
			padding: 2px !important;
		}

	}

	.ajax-loader {
		margin: 7px 0 0 0;
	}

	.wpcf7-response-output {
		.border-radius(0);
	}

}

.filter-wrapper {
	padding: 13px 0 3px 0;

	strong {
		margin: 0;
		padding: 0;
		line-height: 21px;
		font-size: 12px;
		font-weight: 400;
		color: #83868a;
	}

	ul {

		li {
			margin: 0 0 0 17px;
			padding: 0;
			line-height: 21px;
			font-size: 12px;
			color: #83868a;

			&.active {

				a {
					background: none;
					margin: 0;
					padding: 0;
					text-decoration: none;
					color: #e9584d;

					&:focus {
						background: none;
						text-decoration: none;
						color: #e9584d;
					}

					&:hover {
						background: none;
						text-decoration: none;
						color: #e9584d;
					}

				}

			}

			a {
				background: none;
				margin: 0;
				padding: 0;
				line-height: 21px;
				font-size: 12px;
				.border-radius(0);
				text-decoration: none;
				color: #83868a;

				&:hover {
					background: none;
					text-decoration: none;
					color: #e9584d;
				}

			}

		}

	}

}

ul#portfolio-grid {

	li {

		.thumbnail {
			margin: 0 0 20px 0;
		}

		h3 {
			margin: 0;
			line-height: 21px;
			font-size: 13px;
			font-weight: 400;
			text-transform: none;
			color: #000;

			a {
				text-decoration: none;
				color: #000;

				&:hover {
					text-decoration: none;
					color: #e85c41;
				}

			}

		}

		.excerpt {
			margin: 0;
		}

		a.btn {
			display: none;
		}

	}

}

ul.pager {
	margin-top: 30px;

	li {

		a {
			background: url(images/btn.png) repeat-x 0% 0%;
			height: 28px;
			margin: 0 10px 2px 0;
			padding: 8px 18px 0 18px;
			border: none;
			.border-radius(8px);
			.box-shadow(1px 1px 2px rgba(0,0,0,.3));
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-weight: 400;
			text-shadow: none;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;

			&:focus {
				background: url(images/btn.png) repeat-x 0% 0%;
				.box-shadow(1px 1px 2px rgba(0,0,0,.3));
				.transition(none);
				text-decoration: none;
				color: #fff;
			}

			&:hover {
				background-position: 0% -37px;
				.box-shadow(1px 1px 2px rgba(0,0,0,.3));
				.transition(none);
				text-decoration: none;
				color: #fff;
			}

		}

	}

}

.type-portfolio {

	.thumbnail {

		&.large {
			margin: 0;
		}

	}

}

.faq-list {

	h4 {
		margin: 0;
		padding: 0;
		border: none;
		line-height: 18px;
		font-size: 14px;
		text-transform: uppercase;
		color: #4c4c4c;
	}

}

.error404-holder {

	@media (max-width: 767px) {
		text-align: center;
	}

	.error404-holder_num {
		color: #b80b07;
	}

	h4 {
		margin: 0 0 18px 0;
		padding: 0;
		border: none;
		line-height: 18px;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		color: #4c4c4c;
	}

	.search-form {

		@media (max-width: 767px) {
			margin: 0 auto;
		}

	}

}

.type-clients {

	.thumbnail {
		background: none;
		float: left;
		margin: 0 30px 10px 0;
		border: none;

		img {
			width: auto;
		}

	}

}

.posts-grid {

	li {

		.thumbnail {

			img {

				html.ie8 & {
					max-width: inherit;
				}

			}

		}

	}

}

.page-header {
	margin: 0;
	border: none;
}

/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";